@using Kendo.Mvc.UI


<div class="configurator">
    <div class="header">Configurator</div>
    <div class="box-col">
        <h4>Toggle</h4>
        <button  id="toggleSwitch" type="button">Toggle Checked</button>
    </div>
    <div class="box-col">
        <h4>Enable</h4>
        <button  id="enableSwitch" type="button">Toggle Enabled</button>
    </div>
    <div class="box-col">
        <h4>ReadOnly</h4>
        <button  id="readonlySwitch" type="button">Toggle ReadOnly</button>
    </div>
</div>
<div class="demo-section">
    @(Html.Kendo().Switch().Name("switch"))
</div>


@section scripts {
    <script>
        $(document).on("kendoReady", function () {
            var switchInstance = $("#switch").data("kendoSwitch");

            $("#enableSwitch").click(function () {
                switchInstance.enable(!!switchInstance.element.attr("disabled"));
            });

            $("#readonlySwitch").click(function () {
                switchInstance.readonly(!switchInstance.element.attr("readonly"));
            });

            $("#toggleSwitch").click(function () {
                switchInstance.toggle();
            });
        });
    </script>
}

<style>

    .demo-section {
        text-align: center;
    }
</style>
