@addTagHelper *, Kendo.Mvc

<div class="demo-section">
    <kendo-switch name="switch" enabled="true" checked="true">
        <messages checked="YES" unchecked="NO" />
    </kendo-switch>
</div>

<style>
    .demo-section {
        text-align: center;
    }
</style>
