
<h3>Focus</h3>
<ul class="keyboard-legend">
    <li>
        <span class="button-preview">
            <span class="key-button leftAlign">Alt</span>
            +
            <span class="key-button">W</span>
        </span>
        <span class="button-descr">
            Focuses the Switch.
        </span>
    </li>
</ul>

<h3>Supported keys and user actions</h3>
<ul class="keyboard-legend">
    <li>
        <span class="button-preview">
            <span class="key-button">Space</span>
        </span>
        <span class="button-descr">
            Toggles the checked state
        </span>
    </li>
</ul>
