<h4>Description</h4>
<div class="box demo-description wide">
    <p>
        Kendo UI TreeList for ASP.NET Core supports editing by Dragging and Dropping. When the <strong>Editable.Move</strong> property is set to <strong>true</strong>, the user can drag and drop the rows and the TreeList internally updates the parentId field.
    </p>
    <p>
        Setting the <strong>Editable.Move.Reorderable</strong> property to <strong>true</strong> enables the nodes of the TreeList to be dragged and dropped across all levels allowing the child nodes to change also their order within the same parent scope.
    </p>
</div>