<div class="box-col">
    <h3>Focus</h3>
    <ul class="keyboard-legend">
        <li>
            <span class="button-preview">
                <span class="key-button leftAlign">Alt</span>
                +
                <span class="key-button">W</span>
            </span>
            <span class="button-descr">
                Focus the ListView
            </span>
        </li>
    </ul>
</div>

<div class="box-col">
    <h3>Supported keys and user actions</h3>
    <ul class="keyboard-legend">
        <li>
            <span class="button-preview">
                <span class="key-button">Right</span>
            </span>
            <span class="button-descr">
                Goes to the next item (same as Down)
            </span>
        </li>
        <li>
            <span class="button-preview">
                <span class="key-button">Left</span>
            </span>
            <span class="button-descr">
                Goes to the previous item (same as Up)
            </span>
        </li>
        <li>
            <span class="button-preview">
                <span class="key-button">Home</span>
            </span>
            <span class="button-descr">
                Goes to the first item
            </span>
        </li>
        <li>
            <span class="button-preview">
                <span class="key-button">End</span>
            </span>
            <span class="button-descr">
                Goes to the last item
            </span>
        </li>
    </ul>
</div>

<div class="box-col">
    <h3>&nbsp;</h3>
    <ul class="keyboard-legend">
        <li>
            <span class="button-preview">
                <span class="key-button">Enter</span>
            </span>
            <span class="button-descr">
                Enter Edit mode or Apply changes
            </span>
        </li>
        <li>
            <span class="button-preview">
                <span class="key-button">Esc</span>
            </span>
            <span class="button-descr">
                Exit Edit mode and Cancel changes
            </span>
        </li>
        <li>
            <span class="button-preview">
                <span class="key-button">Tab</span>
            </span>
            <span class="button-descr">
                Tabs away from the ListView on the next focusable page element
            </span>
        </li>
        <li>
            <span class="button-preview">
                <span class="key-button leftAlign">Shift</span>
                +
                <span class="key-button">Tab</span>
            </span>
            <span class="button-descr">
                Tabs away from the ListView on the previous focusable page element
            </span>
        </li>
        <li>
            <span class="button-preview">
                <span class="key-button">Space</span>
            </span>
            <span class="button-descr">
                Select item
            </span>
        </li>
    </ul>
</div>