<h3>Focus</h3>
<ul class="keyboard-legend">
    <li>
        <span class="button-preview">
            <span class="key-button leftAlign wider">Alt</span>
            +
            <span class="key-button">W</span>
        </span>
        <span class="button-descr">
            focuses the widget
        </span>
    </li>
</ul>

<h3>Keyboard legend</h3>
<ul class="keyboard-legend">
    <li>
        <span class="button-preview">
            <span class="key-button wider leftAlign">Shift</span>
            +
            <span class="key-button wider leftAlign">Tab</span>
            or
            <span class="key-button wider leftAlign">Left arrow</span>
            or
            <span class="key-button wider leftAlign">Up arrow</span>
        </span>
        <span class="button-descr">
            focuses previous step
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button wider leftAlign">Tab</span>
            or
            <span class="key-button wider leftAlign">Right arrow</span>
            or
            <span class="key-button wider leftAlign">Down arrow</span>
        </span>
        <span class="button-descr">
            focuses next step
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button">Home</span>
        </span>
        <span class="button-descr">
            focuses first step
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button">End</span>
        </span>
        <span class="button-descr">
            focuses last step
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button wider leftAlign">Space</span>
            or
            <span class="key-button wider leftAlign">Enter</span>
        </span>
        <span class="button-descr">
            selects focused step
        </span>
    </li>
    <li>
        <span class="button-descr">
            To move the focus away from the Stepper:
        </span>
        <br />
        Focus the last step and press
        <span class="button-preview">
            <span class="key-button">Tab</span>
        </span>
        or
        <span class="button-preview">
            Focus the first step and press
            <span class="key-button leftAlign wider">Shift</span>
            +
            <span class="key-button">Tab</span>
        </span>
    </li>
</ul>

<h3>Select on focus</h3>
<ul class="keyboard-legend">
    <li>
        <form>
            <input type="checkbox" id="selectOnFocus" name="selectOnFocus" value="true" class="k-checkbox">
            <label class="k-checkbox-label" for="selectOnFocus">Enable Select on focus</label>
        </form>
    </li>
    <li>
        <span class="button-descr">
            When Select on focus mode of the Stepper is enabled, the selection in the stepper will move together with the focus. Moving the focus to another step using the Tab or the arrow keys will also move the selection.
        </span>
    </li>
</ul>
