
<h3>Focus</h3>
<ul class="keyboard-legend">
    <li>
        <span class="button-preview">
            <span class="key-button wider">Alt</span>
            +
            <span class="key-button">w</span>
        </span>
        <span class="button-descr">
            focuses the widget
        </span>
    </li>
</ul>
<h3>Supported keys and user actions</h3>
<ul class="keyboard-legend">
    <li>
        <span class="button-preview">
            <span class="key-button leftAlign">Shift</span>
            +
            <span class="key-button">Tab</span>
        </span>
        <span class="button-descr">
            focus the previous item
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button wider leftAlign">Tab</span>
        </span>
        <span class="button-descr">
            focuses the next item
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button leftAlign">Shift</span>
            +
            <span class="key-button">Left</span>
        </span>
        <span class="button-descr">
            reorder with previous item
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button leftAlign">Shift</span>
            +
            <span class="key-button">Right</span>
        </span>
        <span class="button-descr">
            reorder with next item
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button leftAlign">Ctrl</span>
            +
            <span class="key-button">Left</span>
        </span>
        <span class="button-descr">
            Decrement the width with one column
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button leftAlign">Ctrl</span>
            +
            <span class="key-button">Right</span>
        </span>
        <span class="button-descr">
            Increment the width with one column
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button leftAlign">Ctrl</span>
            +
            <span class="key-button">Up</span>
        </span>
        <span class="button-descr">
            Decrement the height with one row
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button leftAlign">Ctrl</span>
            +
            <span class="key-button">Down</span>
        </span>
        <span class="button-descr">
            Increment the height with one row
        </span>
    </li>
</ul>
