<h2 class="kd-title">Description</h2>
<div class="kd-text kd-text-secondary">
    <p>The <strong>Telerik UI BottomNavigation for ASP.NET Core</strong> bar allows movement between primary destinations in an application. The main purpose of the component is to offer a navigation element, whose options are represented by an icon and text.</p>
    <h3>Features</h3>
    <ul>
        <li>
            <span>Items</span>
        </li>
        <li>
            <span>Templates</span>
        </li>
        <li>
            <span>Appearance</span>
        </li>
    </ul>
    <p> For more information about the Telerik UI BottomNavigation for ASP.NET Core component refer to the <a href="https://docs.telerik.com/aspnet-core/html-helpers/navigation/bottomnavigation/overview">documentation</a>  and its <a href="https://docs.telerik.com/aspnet-core/api/bottomnavigation">API</a>.</p>
</div>