<div class="demo-section wide">
    <div class="demo-app" style="position:relative">
        <div id="calendar" style="display: none;" class="demo-view">
            <div class="view-content">
                <div class="title">
                    <h3>Calendar</h3>
                </div>
                @(Html.Kendo().Calendar().Name("calendar-widget"))
            </div>
        </div>
        <div id="profile" class="demo-view" style="position:absolute">
            <div class="title">
                <h3>My Profile</h3>
            </div>
            <div class="view-content">
                <div id="avatar">
                    <img src=@Url.Content("~/shared/web/avatar.png") width="128" height="128" />
                </div>
            </div>
        </div>
        @(Html.Kendo().BottomNavigation()
        .Name("bottomNavigation")
        .PositionMode(BottomNavigationPositionMode.Absolute)
        .HtmlAttributes( new { style="bottom:0;"})
        .Items(i=> {
        i.Add().Url("#home").Data(new { view = "home" }).Icon("home").Enabled(false).CssClass("custom-css-class");
        i.Add().Url("#calendar").Data(new { view = "calendar" }).Template("<span class='k-bottom-nav-item-icon k-icon k-i-calendar-date'></span>").Icon("calendar-date").CssClass("custom-css-class");
        i.Add().Url("#profile").Data(new { view = "profile" }).Icon("user").CssClass("custom-css-class").Selected(true);
        })
        .Events(e=>e.Select("onSelect"))
        )
    </div>
</div>
@section scripts{
<script>
    function onSelect(e) {
        e.originalEvent.preventDefault();
        var id = e.data.view
        $(".demo-view").hide();
        $("#" + id).show();
    }
</script>
}

<style>
    #avatar {
        text-align: center;
    }

    .view-content {
        letter-spacing: 0.20px;
    }

    #calendar .view-content {
        text-align: center;
    }

    .demo-app {
        margin: auto;
        width: 382px;
        height: 600px;
        background: #FFFFFF;
        box-shadow: 0px 10px 20px;
        border-radius: 30px;
        font-size: 14px;
    }

        .demo-app h3 {
            padding-top: 24px;
            text-align: center;
            font-size: 28px;
            letter-spacing: 0.28px;
            color: #3D57D8;
            font-weight: 400;
        }

    #calendar, #profile {
        background: #F9F9F9;
        height: inherit;
        width: inherit;
        border-radius: 30px;
        border: 10px solid white;
        box-sizing: border-box;
    }

    .demo-app .k-bottom-nav-flat {
        margin-left: 10px;
        margin-bottom: 10px;
        height: 70px;
        max-width: 362px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    html[class*="dark"] .demo-view {
        background-color: #000000 !important;
    }
</style>