<div class="demo-section wide" style="max-width: 644px;">
    @(Html.Kendo().MediaPlayer()
            .AutoPlay(true)
            .Navigatable(true)
            .Media(m => m
                .Title("ProgressNEXT 2019 Highlights")
                .Source("https://youtu.be/2OvvwWShNWo")
            )
            .Name("mediaPlayer")
            .HtmlAttributes(new { style = "height:360px" })
    )
</div> 