<h3>Focus</h3>
<ul class="keyboard-legend">
    <li>
        <span class="button-preview">
            <span class="key-button wider">Alt</span>
            +
            <span class="key-button">W</span>
        </span>
        <span class="button-descr">
            Focuses the widget
        </span>
    </li>
</ul>
<h3>Supported keys and user actions</h3>
<ul class="keyboard-legend">
    <li>
        <span class="button-preview">
            <span class="key-button wider">Space</span>
        </span>
        <span class="button-descr">
            Toggles Play and Pause
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button wider">Enter</span>
        </span>
        <span class="button-descr">
            Opens the video in the FullScreen mode
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button wider">Esc</span>
        </span>
        <span class="button-descr">
            Exits the FullScreen mode
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button wider">M</span>
        </span>
        <span class="button-descr">
            Toggles Mute and Unmute
        </span>
    </li>
</ul>