<h2 class="kd-title">Description</h2>
<p>
    The Telerik Context Menu for ASP.NET Core is a component that displays menu items when users perform right-click action on desktop or on touch actions on mobile devices. In a desktop environment, you also have the option to define another way for opening the context menu such as left-click or other pointer/mouse events. You can add list of items to the context menu, create multilevel menus, and attach event handlers to the menu items for seamless integration with other controls such the ListView shown in this demo.
</p>