<h2 class="kd-title">Description</h2>
<p>
    The Telerik UI for ASP.NET Core Menu is a navigational component that provides multiple built-in options for:
    <ul>
        <li>
            <a href="https://demos.telerik.com/aspnet-core/menu/remote-data-binding">Data binding</a>
        </li>
        <li>
            <a href="https://demos.telerik.com/aspnet-core/menu/orientation">Menu orientation</a> and <a href="https://demos.telerik.com/aspnet-core/menu/orientation">items direction</a>
        </li>
        <li>
            <a href="https://demos.telerik.com/aspnet-core/menu/images">Images in menu items</a>
        </li>
        <li>
            <a href="https://demos.telerik.com/aspnet-core/menu/context-menu">Context menu</a>
        </li>
        <li>
            <a href="https://demos.telerik.com/aspnet-core/menu/animation">Animations</a>
        </li>
        <li>
            <a href="https://demos.telerik.com/aspnet-core/menu/right-to-left-support">RTL</a>
        </li>
        <li>
            <a href="https://demos.telerik.com/aspnet-core/menu/keyboard-navigation">Keyboard navigation</a> and more
        </li>
    </ul>
</p>

<p>
    The demo example shows basic usage of the UI for ASP.NET Core Menu component. It visualizes data in a hierarchical multi-level menu way with unordered item lists that can be used for navigation and commands execution
</p>

