@addTagHelper *, Kendo.Mvc

<div id="megaStore">
    <kendo-menu orientation="MenuOrientation.Horizontal" name="Menu">
        <items>
            <menu-item text="Products">
                <sub-items>
                    <menu-item text="Furniture">
                        <sub-items>
                            <menu-item text="Tables & Chairs"></menu-item>
                            <menu-item text="Sofas"></menu-item>
                            <menu-item text="Occasional Furniture"></menu-item>
                            <menu-item text="Childerns Furniture"></menu-item>
                            <menu-item text="Beds"></menu-item>
                        </sub-items>
                    </menu-item>
                    <menu-item text="Decor">
                        <sub-items>
                            <menu-item text="Bed Linen"></menu-item>
                            <menu-item text="Throws"></menu-item>
                            <menu-item text="Curtains & Blinds"></menu-item>
                            <menu-item text="Rugs"></menu-item>
                            <menu-item text="Carpets"></menu-item>
                        </sub-items>
                    </menu-item>
                    <menu-item text="Storage">
                        <sub-items>
                            <menu-item text="Wall Shelving"></menu-item>
                            <menu-item text="Kids Storage"></menu-item>
                            <menu-item text="Baskets"></menu-item>
                            <menu-item text="Multimedia Storage"></menu-item>
                            <menu-item text="Floor Shelving"></menu-item>
                            <menu-item text="Toilet Roll Holders"></menu-item>
                            <menu-item text="Storage Jars"></menu-item>
                            <menu-item text="Drawers"></menu-item>
                            <menu-item text="Boxes"></menu-item>
                        </sub-items>
                    </menu-item>
                    <menu-item text="Lights">
                        <sub-items>
                            <menu-item text="Ceiling"></menu-item>
                            <menu-item text="Table"></menu-item>
                            <menu-item text="Floor"></menu-item>
                            <menu-item text="Shades"></menu-item>
                            <menu-item text="Wall Lights"></menu-item>
                            <menu-item text="Spotlights"></menu-item>
                            <menu-item text="Push Light"></menu-item>
                            <menu-item text="String Lights"></menu-item>
                        </sub-items>
                    </menu-item>
                </sub-items>
            </menu-item>
            <menu-item text="Stores">
                <content>
                    <div id="template" style="padding: 10px;">
                        <h2>Around the Globe</h2>
                        <ol>
                            <li>United States</li>
                            <li>Europe</li>
                            <li>Canada</li>
                            <li>Australia</li>
                        </ol>
                        <img src='@Url.Content("~/shared/web/menu/map.png")' alt="Stores Around the Globe" />
                        <button>See full list</button>
                    </div>
                </content>
            </menu-item>
            <menu-item text="Blog"></menu-item>
            <menu-item text="Company"></menu-item>
            <menu-item text="Events"></menu-item>
            <menu-item text="News" enabled="false"></menu-item>
        </items>
    </kendo-menu>
</div>
<style>
    #megaStore {
        max-width: 600px;
        margin: 30px auto;
        padding-top: 120px;
        background: url(@Url.Content("~/shared/web/menu/header.jpg")) no-repeat center 0;
    }

    #menu h2 {
        font-size: 1em;
        text-transform: uppercase;
        padding: 5px 10px;
    }

    #template img {
        margin: 5px 20px 0 0;
        float: left;
    }

    #template {
        width: 380px;
    }

        #template ol {
            float: left;
            margin: 0 0 0 30px;
            padding: 10px 10px 0 10px;
        }

        #template:after {
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }

        #template .k-button {
            float: left;
            clear: left;
            margin: 5px 0 5px 12px;
        }
</style>