@addTagHelper *, Kendo.Mvc

<div class="demo-section k-rtl">
    <kendo-menu name="Menu">
        <items>
            <menu-item text="First Item">
                <sub-items>
                    <menu-item text="Sub Item 1"></menu-item>
                    <menu-item text="Sub Item 2"></menu-item>
                    <menu-item text="Sub Item 3">
                        <sub-items>
                            <menu-item text="Sub sub Item 1"></menu-item>
                            <menu-item text="Sub sub Item 2"></menu-item>
                            <menu-item text="Sub sub Item 3"></menu-item>
                        </sub-items>
                    </menu-item>
                    <menu-item text="Sub Item 4"></menu-item>

                </sub-items>
            </menu-item>
            <menu-item text="Second Item">
                <sub-items>
                    <menu-item text="Sub Item 1"></menu-item>
                    <menu-item text="Sub Item 2"></menu-item>
                    <menu-item text="Sub Item 3"></menu-item>
                    <menu-item text="Sub Item 4"></menu-item>
                    <menu-item text="Sub Item 5"></menu-item>
                </sub-items>
            </menu-item>
            <menu-item text="Third Item">
                <sub-items>
                    <menu-item text="Sub Item 1"></menu-item>
                    <menu-item text="Sub Item 2"></menu-item>
                    <menu-item text="Sub Item 3"></menu-item>
                    <menu-item text="Sub Item 4"></menu-item>
                </sub-items>
            </menu-item>
        </items>
    </kendo-menu>
</div>