@addTagHelper *, Kendo.Mvc

<div class="configurator">
    <div class="header">Configurator</div>
    <div class="box-col">
        <h4>SIZE</h4>
        <ul class="options">
            <li>
                <input id="size" />
            </li>
        </ul>
    </div>
    <div class="box-col">
        <h4>BORDER RADIUS</h4>
        <ul class="options">
            <li>
                <input id="rounded" />
            </li>
        </ul>
    </div>
    <div class="box-col">
        <h4>FILL MODE</h4>
        <ul class="options">
            <li>
                <input id="fillMode" />
            </li>
        </ul>
    </div>
</div>

<div class="demo-section">
    <h4>Remind me on</h4>
    <kendo-datetimepicker date-input="true" size="ComponentSize.Medium" rounded="Rounded.Medium" fill-mode="FillMode.Solid" value="DateTime.Now" name="datetimepicker" style="width: 100%" title="datetimepicker">
    </kendo-datetimepicker>
</div>

<script>
    $(document).ready(function () {
        var datetimepicker = $("#datetimepicker").data("kendoDateTimePicker");

        $("#size").kendoDropDownList({
            dataSource: ["small", "medium", "large"],
            value: "medium",
            change: function () {
                let value = this.value();
                datetimepicker.setOptions({ size: value });
            }
        });

        $("#rounded").kendoDropDownList({
            dataSource: ["small", "medium", "large", "full"],
            value: "medium",
            change: function () {
                let value = this.value();
                datetimepicker.setOptions({ rounded: value });
            }
        });

        $("#fillMode").kendoDropDownList({
            dataSource: ["solid", "flat", "outline"],
            value: "solid",
            change: function () {
                let value = this.value();
                datetimepicker.setOptions({ fillMode: value });
            }
        });
    });
</script>

