<h2 class="kd-title">Description</h2>
<div class="kd-text kd-text-secondary">
    <p>The Telerik UI for ASP.NET Core DateTimePicker is a component that allows you to manually input date and time or to select them from a dropdown calendar and a list of time options. Those features are displayed in the demo example as a basic scenario for the component. In addition, the Telerik DateTimePicker also provides the following functionalities:</p>
    <ul>
        <li>Disabled dates</li>
        <li>Selected dates</li>
        <li>Start view and navigation depth</li>
        <li>Validation</li>
        <li>Date and time formatting</li>
        <li>Calendar types</li>
        <li>Week number column</li>
        <li>DateInput integration</li>
        <li>Templates</li>
        <li>Globalization</li>
        <li>Accessibility</li>
    </ul>
</div>