@addTagHelper *, Kendo.Mvc

<div class="demo-section">
    <h4>Select date:</h4>
    <kendo-datetimepicker date-input="true" value="DateTime.Now" name="datetimepicker" style="width: 100%" title="datetimepicker">
    </kendo-datetimepicker>
</div>