@addTagHelper *, Kendo.Mvc

<div class="demo-section">
    <h4>Select date & time:</h4>
    <kendo-datetimepicker name="datetimepicker" style="width: 100%;" accesskey="w">
    </kendo-datetimepicker>
</div>