@addTagHelper *, Kendo.Mvc


<div class="demo-section">
    <div class="k-rtl">
        <label for="datetimepicker">Choose date:</label>
        <kendo-datetimepicker name="datetimepicker" style="width:100%;">
        </kendo-datetimepicker>
    </div>
</div>