<div id="example">
    <div class="configurator">
        <div class="header">Configurator</div>
        <div class="box-col">
            <ul class="options">
                <li>
                    <h4>Size:</h4>
                    <input id="size" name="size" />
                </li>
            </ul>
        </div>
        <div class="box-col">
            <ul class="options">
                <li>
                    <h4>Theme Color:</h4>
                    <input id="themeColor" name="themeColor" />
                </li>
            </ul>
        </div>
        <div class="box-col">
            <ul class="options">
                <li>
                    <h4>Fill Mode:</h4>
                    <input id="fillMode" name="fillMode" />
                </li>
            </ul>
        </div>
        <div class="box-col">
            <ul class="options">
                <li>
                    <h4>Border Radius:</h4>
                    <input id="rounded" name="rounded" />
                </li>
            </ul>
        </div>
    </div>


    <div>
       @(Html.Kendo().Button()
           .Name("button")
           .HtmlAttributes(new { type = "button" })
           .Size(ComponentSize.Medium)
           .FillMode(ButtonFillMode.Solid)
           .ThemeColor(ThemeColor.Base)
           .Rounded(Rounded.Medium)
           .Content("Button")
       )
    </div>

    <script>
        $(document).ready(function () {

            $("#size").kendoDropDownList({
                dataTextField: "text",
                dataValueField: "value",
                value: "medium",
                change: onChange,
                dataSource: [
                    { text: "Small", value: "small" },
                    { text: "Medium", value: "medium" },
                    { text: "Large", value: "large" }

                ]
            });

            $("#themeColor").kendoDropDownList({
                dataTextField: "text",
                dataValueField: "value",
                value: "base",
                change: onChange,
                dataSource: [
                    { text: "Base", value: "base" },
                    { text: "Primary", value: "primary" },
                    { text: "Secondary", value: "secondary" },
                    { text: "Teritary", value: "teritary" },
                    { text: "Info", value: "info" },
                    { text: "Success", value: "success" },
                    { text: "Warning", value: "warning" },
                    { text: "Error", value: "error" },
                    { text: "Dark", value: "dark" },
                    { text: "Light", value: "light" },
                    { text: "Inverse", value: "inverse" }
                ]
            });

            $("#rounded").kendoDropDownList({
                dataTextField: "text",
                dataValueField: "value",
                value: "medium",
                change: onChange,
                dataSource: [
                    { text: "Small", value: "small" },
                    { text: "Medium", value: "medium" },
                    { text: "Large", value: "large" },
                    { text: "Full", value: "full" }
                ]
            });

            $("#fillMode").kendoDropDownList({
                dataTextField: "text",
                dataValueField: "value",
                value: "solid",
                change: onChange,
                dataSource: [
                    { text: "Solid", value: "solid" },
                    { text: "Outline", value: "outline" },
                    { text: "Flat", value: "flat" },
                    { text: "Link", value: "link" }
                ]
            });

            var original = $("#button").clone(true);

            function onChange(e) {
                e.preventDefault();
                var button = $("#button"),
                    clone = original.clone(true);

                button.data("kendoButton");
                button.replaceWith(clone);
                initButton();
            }

            var initButton = function () {
                var size = $("#size").data("kendoDropDownList").value();
                var themeColor = $("#themeColor").data("kendoDropDownList").value();
                var rounded = $("#rounded").data("kendoDropDownList").value();
                var fillMode = $("#fillMode").data("kendoDropDownList").value();

                $("#button").kendoButton({
                    size: size,
                    themeColor: themeColor,
                    rounded: rounded,
                    fillMode: fillMode
                }).data("kendoButton");
            };
        });
    </script>
</div>
