<h3>Focus</h3>
<ul class="keyboard-legend" style="padding-top: 2em;">
    <li>
    <span class="button-preview">
        <span class="key-button leftAlign wider"><a target="_blank" href="https://en.wikipedia.org/wiki/Access_key">Access key</a></span>
        +
        <span class="key-button">s</span>
    </span>
    <span class="button-descr">Focuses the simple selector.</span>
    </li>
</ul>
<ul class="keyboard-legend" style="padding-top: 2em;">
    <li>
        <span class="button-preview">
        <span class="key-button leftAlign wider"><a target="_blank" href="https://en.wikipedia.org/wiki/Access_key">Access key</a></span>
        +
        <span class="key-button">h</span>
        </span>
        <span class="button-descr">Focuses the HSV selector.</span>
    </li>
</ul>
<h3>Supported keys and user actions (simple selector)</h3>
<ul class="keyboard-legend">
    <li>
    <span class="button-preview">
        <span class="key-button leftAlign wider">Enter, Down</span>
    </span>
    <span class="button-descr">Opens the popup (when the popup is closed).</span>
    </li>
    <li>
    <span class="button-preview">
        <span class="key-button leftAlign wider">Left Arrow</span>
    </span>
    <span class="button-descr">Selects previous color.</span>
    </li>
    <li>
    <span class="button-preview">
        <span class="key-button leftAlign wider">Right Arrow</span>
    </span>
    <span class="button-descr">Selects next color.</span>
    </li>
</ul>
<h3>Supported keys and user actions (HSV selector)</h3>
<ul class="keyboard-legend">
    <li>
        <span class="button-preview">
        <span class="key-button leftAlign wider">Enter, Down</span>
        </span>
        <span class="button-descr">Opens the popup (when the popup is closed).</span>
    </li>
    <li>
        <span class="button-preview">
        <span class="key-button leftAlign wider">Arrows</span>
        </span>
        <span class="button-descr">Update saturation/value in the big rectangle.</span>
    </li>
    <li>
        <span class="button-preview">
        <span class="key-button leftAlign wider">Ctrl + Left/Right</span>
        </span>
        <span class="button-descr">Update hue slider.</span>
    </li>
    <li>
        <span class="button-preview">
        <span class="key-button leftAlign wider">Ctrl + Up/Dwn</span>
        </span>
        <span class="button-descr">Update opacity slider (when opacity is present).</span>
    </li>
    <li>
        <span class="button-preview">
        <span class="key-button leftAlign wider">Shift</span>
        </span>
        <span class="button-descr">Hold shift for fine-tuning.</span>
    </li>
    <li>
        <span class="button-preview">
        <span class="key-button leftAlign wider">Enter</span>
        </span>
        <span class="button-descr">Select current color.</span>
    </li>
    <li>
        <span class="button-preview">
        <span class="key-button leftAlign wider">Escape</span>
        </span>
        <span class="button-descr">Cancel the selection.</span>
    </li>
</ul>