
<h3>Focus</h3>
<ul class="keyboard-legend">
    <li>
        <span class="button-preview">
            <span class="key-button wider">Alt</span>
            +
            <span class="key-button">W</span>
        </span>
        <span class="button-descr">
            Focuses the Pager wrapper.
        </span>
    </li>
</ul>
<h3>Supported keys and user actions</h3>
<ul class="keyboard-legend">
    <li>
        <span class="button-preview">
            <span class="key-button wider leftAlign">Enter</span>
        </span>
        <span class="button-descr">
            When the Pager wrapper is focused, changes the focus to the first focusable Pager element.
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button wider leftAlign">Escape</span>
        </span>
        <span class="button-descr">
            When an inner Pager element is focused, changes the focus to the Pager wrapper.
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button wider leftAlign">Tab</span>
        </span>
        <span class="button-descr">
            When an inner Pager element is focused, changes the focus to the next Pager element.
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button wider leftAlign">Shift</span>
            +
            <span class="key-button wider leftAlign">Tab</span>
        </span>
        <span class="button-descr">
            When an inner Pager element is focused, changes the focus to the previous Pager element.
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button wider leftAlign">Left arrow</span>
        </span>
        <span class="button-descr">
            When the Pager wrapper is focused, loads the previous page, if it exists.
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button wider leftAlign">Page up</span>
        </span>
        <span class="button-descr">
            When the Pager wrapper is focused, loads the previous page, if it exists.
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button wider leftAlign">Right arrow</span>
        </span>
        <span class="button-descr">
            When the Pager wrapper is focused, loads the next page, if it exists.
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button wider leftAlign">Page down</span>
        </span>
        <span class="button-descr">
            When the Pager wrapper is focused, loads the next page, if it exists.
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button wider leftAlign">Home</span>
        </span>
        <span class="button-descr">
            When the Pager wrapper is focused, loads the first page, if the current page is not already the first one.
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button wider leftAlign">End</span>
        </span>
        <span class="button-descr">
            When the Pager wrapper is focused, loads the last page, if the current page is not already the last one.
        </span>
    </li>
</ul>
