<div class="configurator">
    <div class="header">Configurator</div>
    <div class="box-col">
        <ul class="options">
            <li>
                <h4>Size:</h4>
                <input id="size" name="size" />
            </li>
        </ul>
    </div>
    <div class="box-col">
        <ul class="options">
            <li>
                <h4>Fill Mode:</h4>
                <input id="fillMode" name="fillMode" />
            </li>
        </ul>
    </div>
    <div class="box-col">
        <ul class="options">
            <li>
                <h4>Border Radius:</h4>
                <input id="rounded" name="rounded" />
            </li>
        </ul>
    </div>
</div>


<div class="demo-section">
    <h4>Select movie</h4>
    @(Html.Kendo().MultiColumnComboBox()
        .Name("movies")
        .DataTextField("Text")
        .DataValueField("Value")
        .HtmlAttributes(new { style = "width: 100%;" })
        .Columns(columns =>
        {
            columns.Add().Field("Text").Title("Text").Width("400px");
            columns.Add().Field("Value").Title("Value").Width("100px");
        })
        .BindTo(new List<SelectListItem>()
        {
            new SelectListItem() {
            Text = "12 Angry Men", Value ="1"
            },
            new SelectListItem() {
            Text = "Il buono, il brutto, il cattivo.", Value ="2"
            },
            new SelectListItem() {
            Text = "Inception", Value ="3"
            },
            new SelectListItem() {
            Text = "One Flew Over the Cuckoo's Nest", Value ="4"
            },
            new SelectListItem() {
            Text = "Pulp Fiction", Value ="5"
            },
            new SelectListItem() {
            Text = "Schindler's List", Value ="6"
            },
            new SelectListItem() {
            Text = "The Dark Knight", Value ="7"
            },
            new SelectListItem() {
            Text = "The Godfather", Value ="8"
            },
            new SelectListItem() {
            Text = "The Godfather: Part II", Value ="9"
            },
            new SelectListItem() {
            Text = "The Shawshank Redemption", Value ="10"
            },
            new SelectListItem() {
            Text = "The Shawshank Redemption 2", Value ="10"
            }
        })
    )
</div>

@section scripts {
    <script>
        $(document).on("kendoReady", function () {
            var combobox = $("#movies").data('kendoMultiColumnComboBox');

            var size = $("#size").kendoDropDownList({
                dataTextField: "text",
                dataValueField: "value",
                value: "medium",
                change: onChange,
                dataSource: [
                    { text: "Small", value: "small" },
                    { text: "Medium", value: "medium" },
                    { text: "Large", value: "large" }
                ]
            }).data("kendoDropDownList");

            var rounded = $("#rounded").kendoDropDownList({
                dataTextField: "text",
                dataValueField: "value",
                change: onChange,
                value: "medium",
                dataSource: [
                    { text: "Small", value: "small" },
                    { text: "Medium", value: "medium" },
                    { text: "Large", value: "large" },
                    { text: "Full", value: "full" }
                ]
            }).data("kendoDropDownList");

            var fill = $("#fillMode").kendoDropDownList({
                dataTextField: "text",
                dataValueField: "value",
                change: onChange,
                value: "solid",
                dataSource: [
                    { text: "Solid", value: "solid" },
                    { text: "Flat", value: "flat" },
                    { text: "Outline", value: "outline" }
                ]
            }).data("kendoDropDownList");

            function onChange(e) {
                var sizeValue = size.value();
                var roundedValue = rounded.value();
                var fillValue = fill.value();
                var selectedValues = combobox.value();

                combobox.value([]);
                combobox.setOptions({
                    size: sizeValue,
                    rounded: roundedValue,
                    fillMode: fillValue
                })
                combobox.value(selectedValues);
            }
        });
    </script>
}

