<div class="demo-section">
    <h4>ComboBox</h4>
    @(Html.Kendo().MultiColumnComboBox()
            .Name("multicolumncombobox")
            .DataTextField("Text")
            .DataValueField("Value")
            .Columns(columns =>
            {
                columns.Add().Field("Text").Title("Text");
                columns.Add().Field("Value").Title("Value");
            })
            .Filter(FilterType.StartsWith)
            .HtmlAttributes(new { style = "width:100%;" })
            .BindTo(new List<SelectListItem>()
            {
                new SelectListItem() {
                    Text = "Item 1", Value = "1"
                },
                new SelectListItem() {
                    Text = "Item 2", Value = "2"
                },
                new SelectListItem() {
                    Text = "Item 3", Value = "3"
                }
            })
            .Events(e =>
            {
                e.Change("onChange").Select("onSelect").Open("onOpen").Close("onClose").DataBound("onDataBound").Filtering("onFiltering");
            })
    )
</div>

@section scripts {
<script>
    function onOpen() {
        kendoConsole.log("event: open");
    }

    function onClose() {
        kendoConsole.log("event: close");
    }

    function onChange() {
        kendoConsole.log("event: change");
    }

    function onDataBound() {
        kendoConsole.log("event: dataBound");
    }

    function onSelect(e) {
    	if ("kendoConsole" in window) {
    		if (e.item) {
    			var dataItem = this.dataItem(e.item.index());
    			kendoConsole.log("event :: select (" + dataItem.Text + " : " + dataItem.Value + ")");
    		} else {
    			kendoConsole.log("event :: select");
    		}
        }
    }

    function onFiltering() {
        kendoConsole.log("event: filtering");
    }
</script>
}
