@addTagHelper "*, Kendo.Mvc"

<div class="demo-section">
    <h4>Set Value</h4>
    <kendo-maskedtextbox mask="(999) 000-0000" name="maskedtextbox">
	    <maskedtextbox-label content="Phone number" floating="true"/>
    </kendo-maskedtextbox>
</div>

<style>
    .k-floating-label-container {
        width: 100%;
    }
</style>

