@addTagHelper *, Kendo.Mvc
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="demo-section">
    <h2>Mask Input </h2>
    <ul id="fieldlist">
        <li>
            <kendo-maskedtextbox name="phone_number" mask="(999) 000-0000" value="555 123 4567">
                <maskedtextbox-label content="Phone number" floating="true" />
            </kendo-maskedtextbox>
        </li>
        <li>
            <kendo-maskedtextbox name="credit_card" mask="0000 0000 0000 0000" value="1234 1234 1234 1234">
                <maskedtextbox-label content="Credit Card number" floating="true" />
            </kendo-maskedtextbox>
        <li>
            <kendo-maskedtextbox name="ssn" mask="000-00-0000" value="003-12-3456">
                <maskedtextbox-label content="Social security number" floating="true" />
            </kendo-maskedtextbox>
        </li>
        <li>
            <kendo-maskedtextbox name="postcode" mask="L0L 0LL" value="W1N 1AC">
                <maskedtextbox-label content="UK postcode" floating="true" />
            </kendo-maskedtextbox>
        </li>
    </ul>
</div>

<style>
    .demo-section {
        width: 300px;
        margin: 35px auto 50px;
        padding: 30px;
    }

    .demo-section h2 {
        text-transform: uppercase;
        font-size: 1.2em;
        margin-bottom: 10px;
    }

    #fieldlist
    {
        margin:0;
        padding:0;
    }

    #fieldlist li
    {
        list-style:none;
        padding:10px 0;
    }

    #fieldlist .k-floating-label-container {
        width: 100%;
    }
</style>
