@addTagHelper *, Kendo.Mvc

<div class="demo-section wide">
    <kendo-chart name="chart">
        <chart-title text="Rainfall - Wind Speed"></chart-title>
        <chart-legend position="ChartLegendPosition.Bottom"></chart-legend>
        <series>
            <series-item type="ChartSeriesType.Scatter" name="January 2008" data="new double[][] { new[] { 16.4, 5.4 }, new[] { 21.7, 2 }, new[] { 25.4, 3 }, new[] { 19.0, 2.0 }, new[] { 10.9, 1 }, new[] { 13.6, 3.2 }, new[] { 10.9, 7.4 }, new[] { 10.9, 0 }, new[] { 10.9, 8.2 }, new[] { 16.4, 0 }, new[] { 16.4, 1.8 }, new[] { 13.6, 0.3 }, new[] { 13.6, 0 }, new[] { 29.9, 0 }, new[] { 27.1, 2.3 }, new[] { 16.4, 0 }, new[] { 13.6, 3.7 }, new[] { 10.9, 5.2 }, new[] { 16.4, 6.5 }, new[] { 10.9, 0 }, new[] { 24.5, 7.1 }, new[] { 10.9, 0 }, new[] { 8.1, 4.7 }, new[] { 19.0, 0.0 }, new[] { 21.7, 1.8 }, new[] { 27.1, 0 }, new[] { 24.5, 0 }, new[] { 27.1, 0 }, new[] { 29.9, 1.5 }, new[] { 27.1, 0.8 }, new[] { 22.1, 2 } }"></series-item>
            <series-item type="ChartSeriesType.Scatter" name="January 2009" data="new double[][] { new[] { 6.4, 13.4 }, new[] { 1.7, 11 }, new[] { 5.4, 8 }, new[] { 9.0, 17.0 }, new[] { 1.9, 4 }, new[] { 3.6, 12.2 }, new[] { 1.9, 14.4 }, new[] { 1.9, 9 }, new[] { 1.9, 13.2 }, new[] { 1.4, 7 }, new[] { 6.4, 8.8 }, new[] { 3.6, 4.3 }, new[] { 1.6, 10 }, new[] { 9.9, 2 }, new[] { 7.1, 15 }, new[] { 1.4, 0 }, new[] { 3.6, 13.7 }, new[] { 1.9, 15.2 }, new[] { 6.4, 16.5 }, new[] { 0.9, 10 }, new[] { 4.5, 17.1 }, new[] { 10.9, 10 }, new[] { 0.1, 14.7 }, new[] { 9.0, 10.0 }, new[] { 2.7, 11.8 }, new[] { 2.1, 10 }, new[] { 2.5, 10 }, new[] { 27.1, 10 }, new[] { 2.9, 11.5 }, new[] { 7.1, 10.8 }, new[] { 2.1, 12 } }"></series-item>
            <series-item type="ChartSeriesType.Scatter" name="January 2009" data="new double[][] { new[] { 21.7, 3 }, new[] { 13.6, 3.5 }, new[] { 13.6, 3 }, new[] { 29.9, 3 }, new[] { 21.7, 20 }, new[] { 19.0, 2.0 }, new[] { 10.9, 3 }, new[] { 28.0, 4.0 }, new[] { 27.1, 0.3 }, new[] { 16.4, 4 }, new[] { 13.6, 0 }, new[] { 19.0, 5.0 }, new[] { 16.4, 3 }, new[] { 24.5, 3 }, new[] { 32.6, 3 }, new[] { 27.1, 4 }, new[] { 13.6, 6 }, new[] { 13.6, 8 }, new[] { 13.6, 5 }, new[] { 10.9, 4 }, new[] { 16.4, 0 }, new[] { 32.6, 10.3 }, new[] { 21.7, 20.8 }, new[] { 24.5, 0.8 }, new[] { 16.4, 0 }, new[] { 21.7, 6.9 }, new[] { 13.6, 7.7 }, new[] { 16.4, 0 }, new[] { 8.1, 0 }, new[] { 16.4, 0 }, new[] { 16.4, 0 } }"></series-item>
        </series>
        <x-axis>
            <x-axis-item max="35" type="numeric">
                <chart-x-axis-item-title text="Wind Speed [km/h]"></chart-x-axis-item-title>
                <crosshair visible="true">
                    <chart-x-axis-crosshair-tooltip visible="true" format="{0:n1}"></chart-x-axis-crosshair-tooltip>
                </crosshair>
            </x-axis-item>
        </x-axis>
        <y-axis>
            <y-axis-item max="25" min="-5" axis-crossing-value="new object[] { -5 }">
                <chart-y-axis-item-title text="Rainfall [mm]"></chart-y-axis-item-title>
                <crosshair visible="true">
                    <chart-y-axis-crosshair-tooltip visible="true" format="{0:n1}"></chart-y-axis-crosshair-tooltip>
                </crosshair>
            </y-axis-item>
        </y-axis>
    </kendo-chart>
</div>
