<div class="configurator">
    <div class="header">Configurator</div>
    <div class="box-col">
        <h4>API Functions</h4>
        <ul class="options">
            <li>
                <input id="value" value="10:30 AM" style="float:none" />
                <button id="set" >Set value</button>
            </li>
            <li style="text-align: right;">
                <button id="get" >Get value</button>
            </li>
        </ul>
    </div>
    <div class="box-col">
        <h4>Calendar Open / Close</h4>
        <ul class="options">
            <li>
                <button id="open" >Open</button>
                <button id="close" >Close</button>
            </li>
        </ul>
    </div>
    <div class="box-col">
        <h4>Enable / Disable</h4>
        <ul class="options">
            <li>
                <button id="enable" >Enable</button>
                <button id="disable" >Disable</button>
            </li>
            <li>
                <button id="readonly" >Readonly</button>
            </li>
        </ul>
    </div>
</div>
<div class="demo-section">
    <h4>Select time</h4>
    @(Html.Kendo().TimePicker()
        .Name("timepicker")
        .HtmlAttributes(new { style = "width: 100%" })
    )
</div>

@section scripts {
    <script>
        $(document).on("kendoReady", function () {
            $("#timepicker").closest(".k-widget")
                .attr("id", "timepicker_wrapper");

            var timepicker = $("#timepicker").data("kendoTimePicker");

            var setValue = function () {
                timepicker.value($("#value").val());
            };

            $("#enable").click(function () {
                timepicker.enable();
            });

            $("#disable").click(function () {
                timepicker.enable(false);
            });

            $("#readonly").click(function () {
                timepicker.readonly();
            });

            $("#open").click(function () {
                timepicker.open();
            });

            $("#close").click(function () {
                timepicker.close();
            });

            $("#value").kendoTimePicker();

            $("#set").click(setValue);

            $("#get").click(function () {
                alert(timepicker.value());
            });
        });
    </script>
}
