<div class="demo-section">
    <h4>Select Time:</h4>
    <div>
        @(Html.Kendo().TimePicker()
            .Name("timepicker")
            .Value("10:00 AM")
            .ComponentType("modern")
            .HtmlAttributes(new { style = "width: 100%", title = "timepicker" })
            .DateInput()
        )
    </div>
</div>
<div class="box">
    <div class="box-col">
        <h4>Set component  type</h4>
        @(Html.Kendo().DropDownList()
            .Name("ddl")
            .BindTo(new string[] { "modern", "classic" })
            .Value("modern")
            .Events(ev=>ev.Change("onChange"))
        )
    </div>

    @section scripts {
<script>
        function onChange(e) {
            var picker = $("#timepicker").data("kendoTimePicker");
            var type = this.value();
            var format = picker.options.format;
            var value = picker.value();
            var parent = $("#timepicker").parent();

            picker.destroy();
            parent.empty();
            parent.append('<input id="timepicker" title="timepicker" style="width: 100%;" />');
            $("#timepicker").kendoTimePicker({
                format: format,
                value: value,
                componentType: type
            });
        }
    </script>
}
</div>