@addTagHelper *, Kendo.Mvc

    <h4>Client Operations</h4>
    <kendo-grid name="client" navigatable="true" height="550">
        <datasource type="DataSourceTagHelperType.Ajax" page-size="20"
            server-operation="false"
            batch="true"
            on-error="error_handler">
            <schema data="Data" total="Total">
                <model id="ProductID">
                    <fields>
                        <field name="ProductID" type="number" editable="false"></field>
                        <field name="ProductName" type="string"></field>
                        <field name="UnitPrice" type="number"></field>
                        <field name="UnitsInStock" type="number"></field>
                        <field name="Discontinued" type="boolean"></field>
                    </fields>
                </model>
            </schema>
            <transport>
                <read url="/grid/editing_read"/>
                <update url="/grid/editing_update"/>
                <create url="/grid/editing_create"/>
                <destroy url="/grid/editing_destroy"/>
            </transport>
        </datasource>
        <columns>
            <column field="ProductName">
                <filterable enabled="true" multi="true" search="true"/>
            </column>
            <column field="UnitPrice" width="140" format="{0:c}">
                <filterable enabled="true" multi="true"/>
            </column>
            <column field="UnitsInStock" width="140">
                <filterable enabled="true" multi="true" check-all="true"/>
            </column>
            <column field="Discontinued" width="100">
                <filterable enabled="true" multi="true" check-all="false"/>
            </column>
            <column width="150">
                <commands>
                    <column-command text="Delete" name="destroy"></column-command>
                </commands>
            </column>
        </columns>
        <toolbar>
            <toolbar-button name="create"></toolbar-button> 
            <toolbar-button name="save"></toolbar-button>
        </toolbar>
        <editable mode="incell"/>
        <filterable enabled="true"/>
        <pageable enabled="true"/>
        <sortable enabled="true"/>
        <scrollable enabled="true"/>
    </kendo-grid>

    <h4>Server Operations</h4>
    <kendo-grid name="server">
        <datasource type="DataSourceTagHelperType.Ajax" server-operation="true">
            <transport>
                <read url="/grid/hierarchybinding_employees"/>
            </transport>
        </datasource>
        <columns>
            <column field="FirstName" width="220">
                <filterable enabled="true" multi="true" search="true">
                    <datasource>
                        <transport>
                            <read url="/grid/unique?field=FirstName"/>
                        </transport>
                    </datasource>
                </filterable>
            </column>
            <column field="LastName" width="220">
                <filterable enabled="true" multi="true">
                    <datasource>
                        <transport>
                            <read url="/grid/unique?field=LastName"/>
                        </transport>
                    </datasource>
                </filterable>
            </column>
            <column field="Country" width="220">
                <filterable enabled="true" multi="true" item-template="itemTemplate">
                    <datasource>
                        <transport>
                            <read url="/grid/unique?field=Country"/>
                        </transport>
                    </datasource>
                </filterable>
            </column>
            <column field="City" width="220">
                <filterable enabled="true" multi="true" check-all="false"></filterable>
            </column>
            <column field="Title">
                <filterable enabled="true" multi="true">
                    <datasource>
                        <transport>
                            <read url="/grid/unique?field=Title"/>
                        </transport>
                    </datasource>
                </filterable>
            </column>
        </columns>
        <sortable enabled="true"/>
        <pageable enabled="true"/>
        <filterable enabled="true"/>
    </kendo-grid>

@section scripts {
    <script type="text/javascript">
        function itemTemplate(e) {
            if (e.field == "all") {
                //handle the check-all checkbox template
                return "<div><label><strong><input type='checkbox' />#= all#</strong></label></div>";
            } else {
                //handle the other checkboxes
                return "<span><label><input type='checkbox' name='" + e.field + "' value='#=Country#'/><span>#= Country #</span></label></span>"
            }
        }

        function error_handler(e) {
            if (e.errors) {
                var message = "Errors:\n";
                $.each(e.errors, function (key, value) {
                    if ('errors' in value) {
                        $.each(value.errors, function () {
                            message += this + "\n";
                        });
                    }
                });
                alert(message);
            }
        }
    </script>
}
