<h4>Grid with single column sorting enabled</h4>
@(Html.Kendo().Grid<Kendo.Mvc.Examples.Models.OrderViewModel>()
        .Name("singleSort")
        .Columns(columns => {
            columns.Bound(o => o.ShipCountry).Width(200);
            columns.Bound(p => p.Freight).Width(200);
            columns.Bound(p => p.OrderDate).Format("{0:dd/MM/yyyy}");
        })
        .Pageable(pageable => pageable.ButtonCount(5))
        .Sortable(sortable => sortable.AllowUnsort(true))
        .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(5)
            .Read(read => read.Action("Orders_Read", "Grid"))
         )
    )

<h4>Grid with mixed column sorting enabled</h4>
<ul>
    <li>
        To multi-sort the columns, hold the "CTRL" key and click the columns header.
    </li>
    <li>
        A single-click (without holding the "CTRL" key) on any column un-sorts the currently sorted columns and applies single-sorting to the clicked column.
    </li>
</ul>
@(Html.Kendo().Grid<Kendo.Mvc.Examples.Models.OrderViewModel>()
        .Name("mixedSort")
        .Columns(columns => {
            columns.Bound(o => o.ShipCountry).Width(200);
            columns.Bound(p => p.Freight).Width(200);
            columns.Bound(p => p.OrderDate).Format("{0:dd/MM/yyyy}");
        })
        .Pageable(pageable => pageable.ButtonCount(5))
        .Sortable(sortable => sortable
            .AllowUnsort(true)
            .SortMode(GridSortMode.Mixed)
            .ShowIndexes(true))
        .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(5)
            .Read(read => read.Action("Orders_Read", "Grid"))
         )
    )

<style>
    .demo-section {
        width: 600px;
    }

        .demo-section h3 {
            margin: 5px 0 15px 0;
            text-align: center;
        }
</style>
