@addTagHelper *, Kendo.Mvc

<div class="k-d-flex-col k-flex-wrap k-align-items-center k-justify-content-center">
    <div id="bike">
        <div id="bike-tail" class="bike"></div><div id="bike-head" class="bike"></div>
    </div>

    <div class="picker-wrapper">
        <h4>Bike color</h4>
        <kendo-colorgradient name="colorgradient" on-change="onChange"
            input="true"
            value="#000"
            opacity="true">
        </kendo-colorgradient>
    </div>
</div>

@section scripts {
<script type="text/javascript">
    function onChange(e) {
        $(".bike").css("background-color", e.value);
    }
</script>
}

<style>
    #bike {
        margin: 0 0 10px;
        background: url("@Url.Content("~/shared/web/colorpicker/background.png")");
    }

    #bike-head, #bike-tail {
        background: url("@Url.Content("~/shared/web/colorpicker/motor.png")");
        display: inline-block;
        height: 299px;
        width: 241px;
        background-color: #000;
    }

    #bike-tail {
        background-color: #000;
    }

    #bike-head {
        background-color: #e15613;
        background-position: -241px 0;
    }

    .picker-wrapper {
        display: inline-block;
        text-align: center;
        margin: 0 18px;
    }

        .picker-wrapper h3 {
            padding: 13px 0 5px;
            text-align: left;
        }
</style>