<h3>Focus</h3>
<ul class="keyboard-legend" style="padding-top: 2em;">
    <li>
        <span class="button-preview">
            <span class="key-button"><a target="_blank" href="https://en.wikipedia.org/wiki/Access_key">Access key</a></span>
            +
            <span class="key-button">w</span>
        </span>
        <span class="button-descr">Focuses the ColorGradient.</span>
    </li>
</ul>

<h3>Keyboard legend</h3>
<ul class="keyboard-legend">
    <li>
        <span class="button-preview">
            <span class="key-button">Tab</span>
        </span>
        <span class="button-descr">
            navigates to the next ColorGradient element
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button">Shift + Tab</span>
        </span>
        <span class="button-descr">
            navigates to the previous ColorGradient Element
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button">Enter / Space</span>
        </span>
        <span class="button-descr">
            When the Toggle format button is focused, changes the format between RGB and HEX.
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button">Arrow Up / Right</span>
        </span>
        <span class="button-descr">
            When any of the ColorGradient's sliders is focused, increases their value. When the drag handle in the ColorGradient canvas is focused, moves in the corresponding direction.
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button">Arrow Down / Left</span>
        </span>
        <span class="button-descr">
            When any of the ColorGradient's sliders is focused, decreases their value. When the drag handle in the ColorGradient canvas is focused, moves in the corresponding direction.
        </span>
    </li>
</ul>