@addTagHelper *, Kendo.Mvc

@{
    var format_types = new string[] { "rgb", "hex" };
}

<div class="k-d-flex k-align-items-center k-justify-content-around">
    <div class="column">
        <h3 class="title"><label for="picker">Choose Your Color | RGB</label></h3>
        <kendo-colorgradient name="picker"
            value="#ff0000"
            format="ColorGradientFormat.Rgb"
            formats="format_types">
        </kendo-colorgradient>
    </div>
    <div class="column" style="margin:inherit">
        <h3 class="title"><label for="picker">Choose Your Color | HEX</label></h3>
        <kendo-colorgradient name="no-inputs-picker"
            value="#fff700"
            format="ColorGradientFormat.Hex"
            formats="format_types">
        </kendo-colorgradient>
    </div>
</div>

<style>
    .column {
        flex-direction: row;
        text-align: center;
    }

        .column .title {
            color: #a3a3a3;
            text-transform: uppercase;
            font-size: 11px;
            font-weight: normal;
            padding: 41px 0 20px;
        }

    .k-colorpicker {
        vertical-align: top;
        margin: 20px 0;
    }
</style>