<h3>Focus</h3>
<ul class="keyboard-legend" style="margin-bottom: 1em;">
    <li>
        <span class="button-preview">
            <span class="key-button leftAlign">Alt</span>
            +
            <span class="key-button">w</span>
        </span>
        <span class="button-descr">
            focuses the widget
        </span>
    </li>
</ul>

<h3>Actions applied on Gantt's toolbar</h3>
<ul class="keyboard-legend" style="margin-bottom: 1em;">
    <li>
        <span class="button-preview">
            <span class="key-button">F10</span>
        </span>
        <span class="button-descr">
            focuses toolbar
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button">Tab</span>
        </span>
        <span class="button-descr">
            focuses next toolbar item
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button">Shift</span>
            +
            <span class="key-button">Tab</span>
        </span>
        <span class="button-descr">
            focuses previous toolbar item
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button">Enter</span>
        </span>or
        <span class="button-preview">
            <span class="key-button">Space</span>
        </span>
        <span class="button-descr">
            activates toolbar item
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button">Right</span>
        </span>
        <span class="button-descr">
            focuses next view when focus is over the views container
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button">Left</span>
        </span>
        <span class="button-descr">
            focuses previous view when focus is over the views container
        </span>
    </li>
</ul>

<h3>Actions applied on Gantt's Timeline</h3>
<ul class="keyboard-legend" style="margin-bottom: 1em;">
    <li>
        <span class="button-preview">
            <span class="key-button">Delete</span>
        </span>
        <span class="button-descr">
            deletes currently selected task and/or dependency
        </span>
    </li>
</ul>

<h3>Actions applied on Gantt's TreeList header</h3>
<ul class="keyboard-legend">
    <li>
        <span class="button-preview">
            <span class="key-button">Enter</span>
        </span>
        <span class="button-descr">
            sort by the column
        </span>
    </li>
</ul>

<h3>Actions applied on Gantt's TreeList data table</h3>
<ul class="keyboard-legend">
    <li>
        <span class="button-preview">
            <span class="key-button wider">Arrow Keys</span>
        </span>
        <span class="button-descr">
            to navigate over the cells.
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button">Enter</span>
        </span>
        <span class="button-descr">
            opens cell editor.
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button">Esc</span>
        </span>
        <span class="button-descr">
            closes cell editor.
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button">Space</span>
        </span>
        <span class="button-descr">
            selects currently highlighted cell's row.
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button">Delete</span>
        </span>
        <span class="button-descr">
            deletes currently selected task.
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button">1</span>
            -
            <span class="key-button">3</span>
        </span>
        <span class="button-descr">
            moves between the available views.
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button">Alt Left Arrow</span>
            /
            <span class="key-button">Alt Right Arrow</span>
        </span>
        <span class="button-descr">
            scrolls timeline.
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button">Ctrl Right Arrow</span>
            /
            <span class="key-button">Ctrl Left Arrow</span>
        </span>
        <span class="button-descr">
            expand/collapse summary row.
        </span>
    </li>
</ul>

<h3>Actions applied on 'Add Task' action DropDown</h3>
<ul class="keyboard-legend">
    <li>
        <span class="button-preview">
            <span class="key-button wider leftAlign">Up Arrow</span>
        </span>
        <span class="button-descr">
            highlights previous item.
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button wider leftAlign">Down Arrow</span>
        </span>
        <span class="button-descr">
            highlights next item.
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button wider rightAlign">Enter</span>
        </span>
        <span class="button-descr">
            selects highlighted item.
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button">Esc</span>
        </span>
        <span class="button-descr">
            closes the dropdown.
        </span>
    </li>
</ul>