<div id="example">
    <div class="configurator">
        <div class="header">Configurator</div>
        <div class="box-col">
            <ul class="options">
                <li>
                    <h4>Size:</h4>
                    <input id="size" name="size" />
                </li>
            </ul>
        </div>
        <div class="box-col">
            <ul class="options">
                <li>
                    <h4>Fill Mode:</h4>
                    <input id="fillMode" name="fillMode" />
                </li>
            </ul>
        </div>
        <div class="box-col">
            <ul class="options">
                <li>
                    <h4>Border Radius:</h4>
                    <input id="rounded" name="rounded" />
                </li>
            </ul>
        </div>
    </div>

    <div class="demo-section">
        @(Html.Kendo().NumericTextBox()
        .Name("numeric")
        .Value(10)
        .Min(0)
        .Max(100)
        .HtmlAttributes(new { style = "width: 100%" })
        )
    </div>

    <script>
        $(document).ready(function () {
            $("#size").kendoDropDownList({
                dataTextField: "text",
                dataValueField: "value",
                value: "medium",
                change: onChange,
                dataSource: [
                    { text: "Small", value: "small" },
                    { text: "Medium", value: "medium" },
                    { text: "Large", value: "large" }
                ]
            });
            $("#rounded").kendoDropDownList({
                dataTextField: "text",
                dataValueField: "value",
                value: "medium",
                change: onChange,
                dataSource: [
                    { text: "Small", value: "small" },
                    { text: "Medium", value: "medium" },
                    { text: "Large", value: "large" },
                    { text: "Full", value: "full" }
                ]
            });
            $("#fillMode").kendoDropDownList({
                dataTextField: "text",
                dataValueField: "value",
                value: "solid",
                change: onChange,
                dataSource: [
                    { text: "Solid", value: "solid" },
                    { text: "Flat", value: "flat" },
                    { text: "Outline", value: "outline" }
                ]
            });
            function onChange(e) {
                var numericBox = $("#numeric").data("kendoNumericTextBox");
                var size = $("#size").data("kendoDropDownList").value();
                var rounded = $("#rounded").data("kendoDropDownList").value();
                var fillMode = $("#fillMode").data("kendoDropDownList").value();
                var numericBoxValue = numericBox.value();
                numericBox.value(0);

                numericBox.setOptions({
                    size: size,
                    rounded: rounded,
                    fillMode: fillMode
                });

                numericBox.value(numericBoxValue);
            }
        });
    </script>
</div>