@addTagHelper *, Kendo.Mvc
@using Kendo.Mvc.UI

<div class="demo-section">
<kendo-numerictextbox name="numerictextbox" on-change="change" on-spin="spin">
</kendo-numerictextbox>
</div>            

<script>
    function change() {
        kendoConsole.log("Change :: " + this.value());
    }

    function spin() {
        kendoConsole.log("Spin :: " + this.value());
    }
</script>
<style>
    .demo-section {
        width: 500px;
        text-align: center;
    }
    .console {
        margin: 0;
    }
</style> 