@addTagHelper *, Kendo.Mvc

<div class="demo-section">
    <h4>Set Value</h4>
    <kendo-numerictextbox format="c" value="25" name="CurrencyTextBox" style="width: 100%">
    </kendo-numerictextbox>
</div>

<style>
    .k-floating-label-container {
        width: 100%;
    }
</style>

