<h2 class="kd-title">Description</h2>
<div class="kd-text kd-text-secondary">
    <p>The UI for ASP.NET Core NumericTextBox is a component that allows input of numerical values through directly typing in the values or selecting values with the help of spinner buttons.</p>
    <p>The demo shows different use cases for NumericTextBoxes such as input for different formats, restrictions to numbers and value ranges. In addition to those features, you can also include a floating label and use globalization and accessibility support.</p>
</div>