@using Kendo.Mvc.UI


<div class="demo-section">
    <h4>Set Value</h4>
    @(Html.Kendo().NumericTextBox()
          .Name("numerictextbox")
          .HtmlAttributes(new { accesskey = "w", style = "width:100%;"})
    )
</div>
