@using Kendo.Mvc.Examples.Models.Scheduler

<div class="configurator">
    <div class="header">Configurator</div>
    <div class="box-col">
        <h4>Group Orientation</h4>
        <select id="orientation">
            <option value="horizontal">Horizontal</option>
            <option value="vertical">Vertical</option>
        </select>
    </div>
</div>

@(Html.Kendo().Scheduler<Kendo.Mvc.Examples.Models.Scheduler.MeetingViewModel>()
    .Name("scheduler")
    .Date(new DateTime(2020,6 ,13))
    .Height(600)
    .Views(views =>
    {
        views.DayView();
        views.WeekView();
        views.MonthView(weekView => weekView.Selected(true));
        views.AgendaView();
        views.TimelineView();
    })
    .MajorTick(720)
    .Timezone("Etc/UTC")
    .Group(group => group.Resources("Rooms", "Attendees").Orientation(SchedulerGroupOrientation.Vertical))
    .Resources(resource =>
    {
        resource.Add(m => m.RoomID)
            .Title("Room")
            .Name("Rooms")
            .DataTextField("Text")
            .DataValueField("Value")
            .DataColorField("Color")
            .BindTo(new[] {
                    new { Text = "Meeting Room 101", Value = 1, Color = "#6eb3fa" },
                    new { Text = "Meeting Room 201", Value = 2, Color = "#f58a8a" }
            });
        resource.Add(m => m.Attendees)
            .Title("Attendees")
            .Name("Attendees")
            .Multiple(true)
            .DataTextField("Text")
            .DataValueField("Value")
            .DataColorField("Color")
            .DataParentValueField("Parent")
            .BindTo(new List<SchedulerResourceModel>() {
                    new SchedulerResourceModel(){ Text = "Alex", Color="red", Value = 1},
                    new SchedulerResourceModel(){ Text = "Bob", Color="green",  Value = 2, Parent = 1 } ,
                    new SchedulerResourceModel(){ Text = "Charlie",Color="yellow",  Value = 3, Parent = 2 }
            });
    })
    .DataSource(d => d
            .Model(m => {
                m.Id(f => f.MeetingID);
                m.Field(f => f.Title).DefaultValue("No title");
                m.RecurrenceId(f => f.RecurrenceID);
            })
            .Read("Grouping_Hierarchical_Read", "Scheduler")
                .Create("Grouping_Hierarchical_Create", "Scheduler")
                .Destroy("Grouping_Hierarchical_Destroy", "Scheduler")
                .Update("Grouping_Hierarchical_Update", "Scheduler")
    )
)

<script>
    $(document).ready( function () {
        var scheduler = $("#scheduler").data("kendoScheduler");
        $("#orientation").kendoDropDownList({
            value: scheduler.options.group.orientation,
            change: function () {
                scheduler.options.group.orientation = this.value();
                scheduler.view(scheduler.view().name);
            }
        });
    });
</script> 