
<h3>Focus</h3>
<ul class="keyboard-legend" style="margin-bottom: 1em;">
    <li>
        <span class="button-preview">
            <span class="key-button leftAlign">Alt</span>
            +
            <span class="key-button">w</span>
        </span>
        <span class="button-descr">
            focuses the widget
        </span>
    </li>
</ul>

<h3>Actions applied to the entire Scheduler</h3>
<ul class="keyboard-legend">
    <li>
        <span class="button-preview">
            <span class="key-button">F10</span>
        </span>
        <span class="button-descr">
            focuses toolbar
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button">B</span>
        </span>
        <span class="button-descr">
            toggles view between business hours and full day (available in Day, Week and Timeline views)
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button">C</span>
        </span>
        <span class="button-descr">
            opens the create new event pop-up editor using the start date of the current view as a start and end
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button">T</span>
        </span>
        <span class="button-descr">
            navigates the view to today's time period
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button leftAlign">Alt</span>
            +
            <span class="key-button">1</span>
            -
            <span class="key-button">5</span>
        </span>
        <span class="button-descr">
            switch between available views
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button leftAlign">Shift</span>
            +
            <span class="key-button">Right</span>
        </span>
        <span class="button-descr">
            navigates to the next time period
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button leftAlign">Shift</span>
            +
            <span class="key-button">Left</span>
        </span>
        <span class="button-descr">
            navigates to the previos time period
        </span>
    </li>
</ul>

<h3>Actions applied on Scheduler toolbar</h3>
<ul class="keyboard-legend">
    <li>
        <span class="button-preview">
            <span class="key-button">Right</span>
        </span>
        <span class="button-descr">
            focuses next toolbar item
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button">Left</span>
        </span>
        <span class="button-descr">
            focuses previous toolbar item
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button">Enter</span>
        </span>or
        <span class="button-preview">
            <span class="key-button">Space</span>
        </span>
        <span class="button-descr">
            activates toolbar item
        </span>
    </li>
</ul>

<h3>Actions applied on Scheduler events</h3>
<ul class="keyboard-legend">
    <li>
        <span class="button-preview">
            <span class="key-button">Right</span>
        </span>or
        <span class="button-preview">
            <span class="key-button">Down</span>
        </span>
        <span class="button-descr">
            focuses next available event
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button">Left</span>
        </span>or
        <span class="button-preview">
            <span class="key-button">Up</span>
        </span>
        <span class="button-descr">
            focuses previous available event
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button">Enter</span>
        </span>
        <span class="button-descr">
            opens edit window for the selected event
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button">Esc</span>
        </span>
        <span class="button-descr">
            closes the edit popup window
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button">Delete</span>
        </span>or
        <span class="button-preview">
            <span class="key-button">Backspace</span>
        </span>
        <span class="button-descr">
            opens the Delete confirmation popup to delete the event
        </span>
    </li>
</ul>
