<h2 class="kd-title">Description</h2>

<p>The Telerik UI Avatar for ASP.NET Core allows you to render its content by using a number of default and custom styling options and set its size, theme color, rounding, fill mode, and more. Play with the demo to apply different styles to the Avatar.</p>

<p>
    <b>Note:</b> The styling options showcased in this demo support only the default values when using the LESS themes. You can find more information about this topic in the <a href="https://docs.telerik.com/aspnet-core/styles-and-layout/less-themes-migration">LESS Themes Migration</a> article.
</p>