@addTagHelper *, Kendo.Mvc

<div class="k-pivotgrid-wrapper">
    <kendo-pivotdatasource type=@(PivotDataSourceType.Xmla) name="pivotSource">
        <columns>
            <pivot-datasource-column name="[Date].[Calendar]" expand="true"></pivot-datasource-column>
            <pivot-datasource-column name="[Product].[Category]"></pivot-datasource-column>
        </columns>
        <rows>
            <row name="[Geography].[City]"></row>
        </rows>
        <schema type="xmla"/>
        <measures values=@(new string[] {"[Measures].[Reseller Freight Cost]"} ) ></measures>
        <transport>
            <read url="https://demos.telerik.com/olap/msmdpump.dll" datatype="text" content-type="text/xml" type="POST" />
            <connection catalog="Adventure Works DW 2008R2" cube="Adventure Works"></connection>
        </transport>
    </kendo-pivotdatasource>

    <kendo-pivotconfigurator name="configurator" datasource-id="pivotSource" filterable="true"  height="570">
        <sortable enabled="true" />
    </kendo-pivotconfigurator>

    <kendo-pivotgrid name="pivotgrid" column-width="200" datasource-id="pivotSource" filterable="true"  height="570">
        <sortable enabled="true" />
    </kendo-pivotgrid>
</div>

<div class="responsive-message"></div>
