<h2 class="kd-title">Description</h2>
<p>
    The Telerik UI for ASP.NET Core DropDownList lets the user choose one option from a list of choices. It provides flexible data binding, virtualization, cascading lists, appearance customization through templates, events, validation, accessibility, RTL support and keyboard navigation.

    The current demo of the UI for ASP.NET Core DropDownList demonstrates an implementation of the most common scenarios in which the component is used.
    <ul>
        <li>
            <a href="https://demos.telerik.com/aspnet-core/dropdownlist/cascadingdropdownlist">DropDownList Cascading</a>
        </li>
        <li>
            <a href="https://demos.telerik.com/aspnet-core/dropdownlist/grouping">DropDownList Grouping</a>
        </li>
        <li>
            <a href="https://demos.telerik.com/aspnet-core/dropdownlist/virtualization">DropDownList Virtualization</a>
        </li>
        <li>
            <a href="https://demos.telerik.com/aspnet-core/dropdownlist/template">DropDownList Templates</a>
        </li>
    </ul>
</p>