@addTagHelper *, Kendo.Mvc

<div class="demo-section">
    <h4>Products</h4>
        <kendo-dropdownlist name="products" style="width:100%"
        datatextfield="ProductName"
        datavaluefield="ProductID">
        <datasource type="DataSourceTagHelperType.Custom">
            <transport>
                <read url="@Url.Action("RemoteDataSource_GetProducts", "DropDownList")"/>
            </transport>
        </datasource>
    </kendo-dropdownlist>
</div>