<h2 class="kd-title">Description</h2>
<p>
    The virtualization feature is useful for performance optimization when handling a large amount of data. To enable it you need to configure the <b>.Virtual</b> property, create Read and ValueMapper actions and set the desired number of items to be rendered.
    When using virtualization the dropdown list displays a fixed number of items from a large data set and when scrolled it loads and renders to the user the next batch of items ensuring smooth and fast performance.
</p>