@model Kendo.Mvc.Examples.Models.Form.UserViewModel

@{
    string view = ViewBag.View;
}
<div class="demo-section">
    <h4>Server validation successful!</h4>

    <p style="margin-top: 1em;">
        <a href='@Url.Action(view, "Form")' class="k-button k-button-solid-primary k-button-solid k-button-md k-rounded-md">Go back</a>
    </p>
</div>
