@addTagHelper *, Kendo.Mvc

<div class="configurator">
    <div class="header">Configurator</div>
    <div class="box-col">
        <h4>Configuration</h4>
        <div>
            <button id="set-to-max">Set progress to 100%</button>
            <button id="set-to-min">Set progress to 0%</button>
        </div>
    </div>
</div>

<script id="progress-template" type="text/kendo-ui-template">
    # if (value == 100) { #
    <span class='k-icon k-i-check'></span>
    # }else{#
        #: value # %
    #}#
</script>

<kendo-circularprogressbar name="progressbar" value=0 center-template-id="progress-template">
</kendo-circularprogressbar>

@section scripts {
    <script>
        $(document).on("kendoReady", function() {
            $("#set-to-max").kendoButton({
                click: function () {
                    let pb = $("#progressbar").data("kendoCircularProgressBar");

                    pb.value(100);
                }
            });

            $("#set-to-min").kendoButton({
                click: function () {
                    let pb = $("#progressbar").data("kendoCircularProgressBar");

                    pb.value(0);
                }
            });
        })
    </script>
}
<style>
    #progressbar {
        margin: 3em;
    }
</style>