@addTagHelper *, Kendo.Mvc
<div class="demo-section">
    <div>
        <h4>Check nodes</h4>
        <kendo-treeview auto-bind="true" load-on-demand="true" name="treeview" on-check="onCheck">
            <items>
                <treeview-item expanded="true" checked="false" text="My Documents" selected="false" enabled="true" sprite-css-class="folder">
                    <items>
                        <treeview-item expanded="true" checked="false" text="Kendo UI Project" selected="false" enabled="true" sprite-css-class="folder">
                            <items>
                                <treeview-item expanded="false" checked="false" text="about.html" selected="false" enabled="true" sprite-css-class="html">
                                </treeview-item>
                                <treeview-item expanded="false" checked="false" text="index.html" selected="false" enabled="true" sprite-css-class="html">
                                </treeview-item>
                                <treeview-item expanded="false" checked="false" text="logo.png" selected="false" enabled="true" sprite-css-class="image">
                                </treeview-item>
                            </items>
                        </treeview-item>
                        <treeview-item expanded="true" checked="false" text="New Web Site" selected="false" enabled="true" sprite-css-class="folder">
                            <items>
                                <treeview-item expanded="false" checked="false" text="mockup.jpg" selected="false" enabled="true" sprite-css-class="image">
                                </treeview-item>
                                <treeview-item expanded="false" checked="false" text="Research.pdf" selected="false" enabled="true" sprite-css-class="pdf">
                                </treeview-item>
                            </items>
                        </treeview-item>
                        <treeview-item expanded="true" checked="false" text="Reports" selected="false" enabled="true" sprite-css-class="folder">
                            <items>
                                <treeview-item expanded="false" checked="false" text="February.pdf" selected="false" enabled="true" sprite-css-class="pdf">
                                </treeview-item>
                                <treeview-item expanded="false" checked="false" text="March.pdf" selected="false" enabled="true" sprite-css-class="pdf">
                                </treeview-item>
                                <treeview-item expanded="false" checked="false" text="April.pdf" selected="false" enabled="true" sprite-css-class="pdf">
                                </treeview-item>
                            </items>
                        </treeview-item>
                    </items>
                </treeview-item>
            </items>
            <checkboxes check-children="true" name="checkedFiles" enabled="true" />
        </kendo-treeview>
    </div>
    <div style="padding-top: 2em;">
        <h4>Status</h4>
        <p id="result">No nodes checked.</p>
    </div>
</div>
<script>

    // function that gathers IDs of checked nodes
    function checkedNodeIds(nodes, checkedNodes) {
        for (var i = 0; i < nodes.length; i++) {
            if (nodes[i].checked) {
                checkedNodes.push(nodes[i].id);
            }

            if (nodes[i].hasChildren) {
                checkedNodeIds(nodes[i].children.view(), checkedNodes);
            }
        }
    }

    // show checked node IDs on datasource change
    function onCheck() {
        var checkedNodes = [],
            treeView = $("#treeview").data("kendoTreeView"),
            message;

        checkedNodeIds(treeView.dataSource.view(), checkedNodes);

        if (checkedNodes.length > 0) {
            message = "IDs of checked nodes: " + checkedNodes.join(",");
        } else {
            message = "No nodes checked.";
        }

        $("#result").html(message);
    }
</script>
<style>
    #treeview .k-sprite {
        background-image: url("@Url.Content("~/shared/web/treeview/coloricons-sprite.png")");
    }

    .rootfolder { background-position: 0 0; }
    .folder     { background-position: 0 -16px; }
    .pdf        { background-position: 0 -32px; }
    .html       { background-position: 0 -48px; }
    .image      { background-position: 0 -64px; }
</style>