@addTagHelper *, Kendo.Mvc

<script id="treeview" type="text/kendo-ui-template">

    # if (!item.items && item.spriteCssClass) { #
        #: item.text #
        <span class='k-icon k-i-close kendo-icon'></span>
    # } else if(!item.items && !item.spriteCssClass) { #
        <span class="k-sprite pdf"></span>
        #: item.text #
        <span class='k-icon k-i-close telerik-icon'></span>
    # } else if (item.items && item.spriteCssClass){ #
        #: item.text #
    # } else { #
        <span class="k-sprite folder"></span>
        #: item.text #
    # } #

</script>
<div class="demo-section wide">
    <div id="demo-section-title" class="treeview-flex">
        <div>
            <h3>
                Select nodes, folders and drag them between the TreeViews
            </h3>
        </div>
    </div>
    <div class="treeview-flex">
        <kendo-treeview auto-bind="true" drag-and-drop="true" load-on-demand="true" template-id="treeview" name="treeview-kendo">
            <items>
                <treeview-item expanded="true" checked="false" text="My Documents" selected="false" enabled="true" sprite-css-class="folder">
                    <items>
                        <treeview-item expanded="true" checked="false" text="Kendo UI Project" selected="false" enabled="true" sprite-css-class="folder">
                            <items>
                                <treeview-item expanded="false" checked="false" text="about.html" selected="false" enabled="true" sprite-css-class="html">
                                </treeview-item>
                                <treeview-item expanded="false" checked="false" text="index.html" selected="false" enabled="true" sprite-css-class="html">
                                </treeview-item>
                                <treeview-item expanded="false" checked="false" text="logo.png" selected="false" enabled="true" sprite-css-class="image">
                                </treeview-item>
                            </items>
                        </treeview-item>

                        <treeview-item expanded="true" checked="false" text="Reports" selected="false" enabled="true" sprite-css-class="folder">
                            <items>
                                <treeview-item expanded="false" checked="false" text="February.pdf" selected="false" enabled="true" sprite-css-class="pdf">
                                </treeview-item>
                                <treeview-item expanded="false" checked="false" text="March.pdf" selected="false" enabled="true" sprite-css-class="pdf">
                                </treeview-item>
                                <treeview-item expanded="false" checked="false" text="April.pdf" selected="false" enabled="true" sprite-css-class="pdf">
                                </treeview-item>
                            </items>
                        </treeview-item>
                    </items>
                </treeview-item>
            </items>
            <checkboxes check-children="true" enabled="true" />
        </kendo-treeview>
    </div>
    <div class="treeview-flex">
        <div>
            <h4>Drag and Drop</h4>
        </div>
    </div>
    <div class="treeview-flex">

        <kendo-treeview auto-bind="true" drag-and-drop="true" load-on-demand="true" template-id="treeview" name="treeview-telerik">
            <items>
                <treeview-item expanded="true" checked="false" text="My Documents" selected="false" enabled="true" sprite-css-class="folder">
                    <items>
                        <treeview-item expanded="true" checked="false" text="New Web Site" selected="false" enabled="true" sprite-css-class="folder">
                            <items>
                                <treeview-item expanded="false" checked="false" text="mockup.pdf" selected="false" enabled="true" sprite-css-class="pdf">
                                </treeview-item>
                                <treeview-item expanded="false" checked="false" text="Research.pdf" selected="false" enabled="true" sprite-css-class="pdf">
                                </treeview-item>
                            </items>
                        </treeview-item>
                        <treeview-item expanded="true" checked="false" text="Reports" selected="false" enabled="true" sprite-css-class="folder">
                            <items>
                                <treeview-item expanded="false" checked="false" text="May.pdf" selected="false" enabled="true" sprite-css-class="pdf">
                                </treeview-item>
                                <treeview-item expanded="false" checked="false" text="June.pdf" selected="false" enabled="true" sprite-css-class="pdf">
                                </treeview-item>
                                <treeview-item expanded="false" checked="false" text="July.pdf" selected="false" enabled="true" sprite-css-class="pdf">
                                </treeview-item>
                            </items>
                        </treeview-item>
                    </items>
                </treeview-item>
            </items>
            <checkboxes enabled="true" />
        </kendo-treeview>
    </div>
</div>
<script type="text/javascript">

        $(document).on("click", ".kendo-icon", function (e) {
            e.preventDefault();
            var treeview = $("#treeview-kendo").data("kendoTreeView");
            treeview.remove($(this).closest(".k-item"));
        });
        $(document).on("click", ".telerik-icon", function (e) {
            e.preventDefault();
            var treeview = $("#treeview-telerik").data("kendoTreeView");
            treeview.remove($(this).closest(".k-item"));
        });
</script>

<style>

        @@media screen and (max-width: 680px) {
            .treeview-flex {
                flex: auto !important;
                width: 100%;
            }
        }

        #demo-section-title h3 {
            margin-bottom: 2em;
            text-align: center;
        }

        .treeview-flex h4 {
            color: #656565;
            margin-bottom: 1em;
            text-align: center;
        }

        #demo-section-title {
            width: 100%;
            flex: auto;
        }

        .treeview-flex {
            flex: 1;
            -ms-flex: 1 0 auto;
        }

        .k-treeview {
            max-width: 240px;
            margin: 0 auto;
        }

        #treeview-kendo .k-sprite {
            background-image: url("@Url.Content("~/shared/web/treeview/coloricons-sprite.png")");
        }

        #treeview-telerik .k-sprite {
            background-image: url("@Url.Content("~/shared/web/treeview/coloricons-sprite.png")");
        }

        .demo-section {
            margin-bottom: 5px;
            overflow: auto;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .rootfolder {
            background-position: 0 0;
        }

        .folder {
            background-position: 0 -16px;
        }

        .pdf {
            background-position: 0 -32px;
        }

        .html {
            background-position: 0 -48px;
        }

        .image {
            background-position: 0 -64px;
        }

</style>