<h2 class="kd-title">Description</h2>
<p>The <strong>Telerik Dialog for ASP.NET Core</strong> is a modal popup that brings information to the user.
    It also provides actions through the action buttons to prompt the user for input or to ask for a decision.
    The component can also contain more complex UI elements that require the focus of the user.
    The Dialog control is a subset of the <a href="https://www.telerik.com/kendo-ui/window" target="_blank">Window</a> one where the most prominent difference is the added functionality for actions.
    </p>
<br />
<p>
    <h3>Key Features</h3>
</p>
<ul style="list-style-type: disc;">
    <li>Fully customizable visual appearance of the dialog title and body</li>
    <li>Support for rich text content</li>
    <li>Predefined Alert, Confirm, and Prompt Dialogs</li>
    <li>Built-in modality and animations</li>
    <li>Ability to create and add custom actions (buttons) at the bottom of the dialog</li>
    <li>Rich API for maximum flexibility</li>
    <li>Built-in themes</li>
    <li>Accessibility, keyboard navigation and RTL Support</li>
    <li>Rich cross-browser and mobile support</li>
</ul>
