@addTagHelper *, Kendo.Mvc

<div id="example">
    <kendo-dialog name="dialog" title="Software Update" width="400" modal="false" on-close="onClose" on-open="onOpen">
        <actions>            
            <action text="Skip this version">
            </action>
            <action text="Remind me later">
            </action>
            <action text="Install update" primary="true">
            </action>
        </actions>
        <content>
            <p>A new version of <strong>Kendo UI</strong> is available. Would you like to download and install it now?</p>
        </content>
    </kendo-dialog>

    <kendo-button name="showDialogBtn"
        class="hide-on-narrow"
        style="display:none;"
        on-click="showDialog">
        Open Dialog
    </kendo-button>

    <div class="responsive-message"></div>

    @section scripts {
<script>
        function onClose() {
            $("#showDialogBtn").fadeIn();
        }

        function onOpen() {
            $("#showDialogBtn").fadeOut();
        }

        function showDialog() {
            $('#dialog').data("kendoDialog").open();
        }

		$(document).on("kendoReady", function () {
			// focus the widget's element
			$(document).on("keydown.examples", function (e) {
				if (e.altKey && e.keyCode === 87 /* w */) {
				    $('#dialog').get(0).focus();
				}
			});
		});
    </script>
}
</div>
<style>
    #example .box {
        margin-top: 250px;
    }

    #show {
        text-align: center;
        position: absolute;
        white-space: nowrap;
        padding: 1em;
        cursor: pointer;
    }
</style>
