<div class="demo-section" style="text-align: center;">
    <h4>Pick a date</h4>
    <div>
        @(Html.Kendo().Calendar()
                .Name("calendar")
                .ComponentType("modern")
        )
    </div>
</div>
<div class="box">
    <div class="box-col">
        <h4>Set component  type</h4>
        @(Html.Kendo().DropDownList()
            .Name("ddl")
            .BindTo(new string[] { "modern", "classic" })
            .Value("modern")
            .Events(ev=>ev.Change("onChange"))
        )
    </div>

    @section scripts {
<script>
        function onChange(e) {
            var calendar = $("#calendar").data("kendoCalendar");
            var type = this.value();
            var parent = $("#calendar").parent();

            calendar.destroy();
            parent.empty();
            parent.append('<div id="calendar"></div>');
            $("#calendar").kendoCalendar({
                componentType: type
            });
        }
    </script>
}
</div>