@addTagHelper *, Kendo.Mvc
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div id="example" style="text-align: center;">
    <div class="demo-section wide" style="display: inline-block;">
        <h4>Select start and end date:</h4>

        <kendo-daterangepicker name='daterangepicker' title="daterangepicker" style='width: 100%;'>
        </kendo-daterangepicker>

    </div>
</div>
