<h2 class="kd-title">Description</h2>
<p>
    The Telerik UI for ASP.NET Core Editor component allows users to edit HTML in a familiar, user-friendly way. In this demo scenario you can interact with the Editor and try yourself the basics of text formatting such as – changing font type, size and color, highlighting areas, managing hyperlinks, bulleted and numbered lists, defining headings and paragraphs, and indenting text accordingly.
</p>
<p>
    You can see or explore the Telerik UI for ASP.NET Core Editor features in our various demo sections or check out the component documentation <a href="https://docs.telerik.com/aspnet-core/html-helpers/editors/editor/overview" target="_blank">here</a>
</p>