@addTagHelper *, Kendo.Mvc
<div class="demo-section wide">
    <kendo-editor tag="textarea" name="editor" style="width: 100%;height:600px" value="@{ <text>
                <h3 class=""><span> </span><span></span><strong>Wonders of Italy</strong></h3>
                <h6 style="font-family: inherit; font-size: 12px; line-height: normal; font-weight: 400; margin: 8px 0px 0px; color: rgb(186, 186, 186);">Jul 6, 2019</h6>
                <p><strong><span style="color: rgb(51, 153, 255);">Overview</span></strong></p>
                <p>The Italian Republic is a history lover's paradise with thousands of museums, churches and archaeological sites dating back to Roman and Greek times. Visitors will also find a hub for fashion and culture unlike anywhere else in the world. Explore Ancient history in <strong>Rome</strong> at the <span style="text-decoration: underline;">Colosseum</span> and <span style="text-decoration: underline;">Rome's Ruins</span>.&nbsp;Rome's greatest gladiator arena has history of unimaginable violence - games that would last 100 days in some cases and involve the slaughter of up to 10,000 animals - but today, it is one of the most majestic sites for Italian tourism.&nbsp;</p>
                <ul>
                    <li>
                        <p><a href="https://www.telerik.com">Book Rome Attraction Tickets&nbsp;</a></p>
                    </li>
                    <li>
                        <p><a href="https://www.telerik.com">Book accommodation</a></p>
                    </li>
                    <li>Rome Trips</li>
                </ul>
                <table>
                    <tbody>
                        <tr>
                            <td>Trip Type</td>
                            <td>Duration</td>
                            <td>Price</td>
                        </tr>
                        <tr>
                            <td>Family Walk Around Rome</td>
                            <td>Day Trip (approx. 6 hours)</td>
                            <td>50 euro per person</td>
                        </tr>
                        <tr>
                            <td>Sightseeing Trip Around Rome</td>
                            <td>Two Days (includes travel and accommodation)</td>
                            <td>200 euro per person&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Custom Trips</td>
                            <td>Defined by Customer</td>
                            <td>To be Determined&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
                <p> <strong><span style="color: rgb(51, 153, 255);">Trip Ideas</span></strong></p>
                <p> Take a trip to the <span style="text-decoration: underline;">Sistine Chapel </span>in Vatican City where Michelangelo's Genesis (Creation), commissioned by Pope Julius II and painted by Michelangelo between 1508 and 1512, attracts droves of visitors each year. </p>
                <p> Take a water-bus tour of the Grand Canal and stop along the way for a bite to eat and some shopping. Take in the most famous of the city's churches and one of the best known examples of the Italo-Byzantine architecture, the Basilica of Saint Mark, which lies at the eastern end the Piazza San Marco, adjacent and connected to the Doge's Palace. And don't miss the Duomo of Florence.</p>
                <p>Visit beautiful Villa Borghese Gardens&nbsp;The Gardens cover an area of 80 hectares and were developed in 1606 by Cardinal Scipione Borges, who wanted to turn his former vineyard into the most extensive gardens built in Rome.</p>
                <p> </p>
                <p><img src="https://demos.telerik.com/aspnet-core/shared/web/timeline/images/Wonders_of_Italy.jpg" style="border: 0px; max-width: 100%; overflow: hidden;"></p>
        </text>}">
	    <tools>
	 	    <tool name="copyFormat">
	 	    </tool>
	 	    <tool name="applyFormat">
	 	    </tool>
	 	    <tool name="cleanFormatting">
	 	    </tool>
	    </tools>
    </kendo-editor>
</div>
