<h2 class="kd-title">Description</h2>
<p>The ASP.NET Core web editor and its <b>Immutable Elements</b> feature enables you to predefine elements in the content area that cannot be edited by the end user.&nbsp;</p>
<p>This demo shows a use case where a mail form is to be edited. You can see also:</p>
<ol>
    <li>How to enable the Immutable Elements—by using the&nbsp;<a href='https://docs.telerik.com/kendo-ui/api/javascript/ui/editor#configuration-immutables'>immutables option</a>;</li>
    <li>How to define the HTML elements that cannot be edited—by adding the <b>contenteditable='false'</b> attribute;</li>
    <li>How to use the <a href='https://docs.telerik.com/kendo-ui/api/javascript/ui/editor#configuration-immutables.serialization'>immutables.serialization</a>&nbsp;and&nbsp;<a href='https://docs.telerik.com/kendo-ui/api/javascript/ui/editor#configuration-immutables.deserialization'>immutables.deserialization</a>&nbsp;option to change the data shown in the&nbsp;<b>viewHtml</b> dialog and enable end user to control the CSS text-align property from there;</li>
    <li>How to define default styles for the immutable elements;</li>
    <li>And how to define styles when an immutable element is selected to improve UX.</li>
</ol>