<h2 class="kd-title">Description</h2>
<p>The Telerik UI for ASP.NET Core Editor is a powerful WYSIWYG component, which allows you and your users to create rich text content in a familiar and user-friendly way. It provides a variety of tools for creating, editing, styling and formatting text, paragraphs, lists, images, tables, hyperlinks and other HTML elements. The component outputs identical HTML across all major browsers, follows accessibility standards and provides API for content manipulation and export to PDF.</p>
<p><b>Key Features</b></p>
<ul>
    <li>Intuitive UI for rich text editing, formatting and styling</li>
    <li>Handles with ease lists, tables, images and hyperlinks creation and formatting</li>
    <li>File attachment support</li>
    <li>Fully customizable toolbar and buttons</li>
    <li>Inline editing of different content areas</li>
    <li>Format painter tool that lets to copy and paste text formatting</li>
    <li>Table editing options for columns and rows merge</li>
    <li>Support for predefined HTML code snippets and non-editable elements</li>
    <li>Export to PDF</li>
    <li>Built-in customizable themes such as Default (our own), Bootstrap and Material and more</li>
    <li>Rich API for maximum flexibility</li>
    <li>High performance</li>
    <li>Accessibility, globalization, keyboard navigation and RTL Support</li>
    <li>Rich cross-browser and mobile support</li>
    <li>Responsive HTML 5 Rendering</li>
</ul>
<p>You can find additional information on how to use the Telerik UI for ASP.NET Core Editor in <a href="https://docs.telerik.com/aspnet-core/helpers/html-helpers/editor">this section</a> of the product documentation."