@addTagHelper *, Kendo.Mvc
<kendo-editor tag="textarea" name="editor" value="@{<text>
    Put the cursor after this text and use the "Insert HTML" tool.
    </text>}">
	<tools>
	 	<tool name="insertHtml">
            <tool-items>
                <tool-item text="Signature" value="<p>Regards,<br /> John Doe,<br /><a href='mailto:john.doe@example.com'>john.doe@example.com</a></p>">
                </tool-item>
                <tool-item text="Telerik UI online demos" value="<a href='https://demos.telerik.com/aspnet-core/'>Telerik UI for ASP.NET Core Online Demos</a> ">
                </tool-item>
            </tool-items>
        </tool>
	</tools>
</kendo-editor>
