<h2 class="kd-title">Description</h2>
<p>This demo presents the the table edtiting tools supported:</p>
<ul>
    <li><b>Table a wizard</b> enables you to create a new table with different table and cell settings or modify the selected one;</li>
    <li><b>Create table</b> enables you to easily create a simple table by selecting the rows and columns in the dropdown;</li>
    <li><b>Add row above/below</b> adds a new row;</li>
    <li><b>Add column left/right</b> adds a new column;</li>
    <li><b>Delete row/column</b> deletes the selected row or column;</li>
    <li><b>Merge cells horizontally</b> merges the selected cell with the one on the left;</li>
    <li><b>Merge cells vertically</b> merges the selected cell with the one below;</li>
    <li><b>Split cell horizontally/vertically</b> splits a cell that has <code>colspan</code> or <code>rowspan</code> attribute (as a result of Merge cells command) and adds a new empty cell.</li>
</ul>