@using Kendo.Mvc.UI
<div>
    <div class="demo-section">
        @(Html.Kendo().Upload()
            .Name("files")
            .Async(a => a
                .Save("Chunk_Upload_Save", "Upload")
                .Remove("Chunk_Upload_Remove", "Upload")
                .AutoUpload(true)
                .ChunkSize(11000)
            )
            .Validation(validation =>
            {
                validation.MaxFileSize(20000000);
            })
        )
    </div>
</div>