<h3>Focus</h3>
<ul class="keyboard-legend" style="margin-bottom: 1em;">
    <li>
        <span class="button-preview">
            <span class="key-button leftAlign">Alt</span>
            +
            <span class="key-button">w</span>
        </span>
        <span class="button-descr">
            Focuses the  widget
        </span>
    </li>
</ul>
<h3>Supported keys and user actions</h3>
<ul class="keyboard-legend">
    <li>
        <span class="button-preview">
            <span class="key-button">Tab</span>
        </span>
        <span class="button-descr">
            Focuses the Select File Button, or the action buttons (Cancel, Upload) after the file list
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button wider leftAlign">Space</span>
            or
            <span class="key-button wider leftAlign">Enter</span>
        </span>
        <span class="button-descr">
            Opens the Select file dialog if the Select files button is focused.
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button">Down arrow</span>
        </span>
        <span class="button-descr">
            Highlights the next file in the file list, or the Clear button if the end of the list is reached.
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button">Up arrow</span>
        </span>
        <span class="button-descr">
            Highlights the previous file in the file list, or the Select files button if the top of the list is reached.
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button">Enter</span>
        </span>
        <span class="button-descr">
            Retries the upload of the failed file when the focus is on a file list item or starts the file upload for a valid file.
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button">Escape</span>
        </span>
        <span class="button-descr">
            Cancels the upload of the highlighted file when the focus is on a file list item
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button">Delete</span>
        </span>
        <span class="button-descr">
            Removes the highlighted file when the focus is on a file list item
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button">Space</span>
        </span>
        <span class="button-descr">
            When Chunk upload is enabled Start or Pause the highlighted file upload
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button wider leftAlign">Left arrow</span>
            or
            <span class="key-button wider leftAlign">Right arrow</span>
        </span>
        <span class="button-descr">
            Navigate between the Play/Pause, Cancel, Remove buttons of a highlighted file list item
        </span>
    </li>
</ul>