<h2 class="kd-title">Description</h2>
<p>
    The Telerik UI for ASP.NET Core Upload supports file validation based on their size and extensions. The demo example shows the AllowedExtensions configuration that accepts the listed types of file that are allowed for upload as an array of strings. The last example demonstrates the MaxFileSize() option which does not allow upload of files that exceed the set limit. In addition, there is also a MinFileSize() option which doesn’t allow files that are less than the set minimum size.
</p>