@addTagHelper *, Kendo.Mvc
@using Kendo.Mvc.UI
 
<kendo-toolbar name="ToolBar">
	<toolbar-items>
	 	<item text="Button" type="CommandType.Button">
	 	</item>
	 	<item text="Toggle Button" togglable="true" type="CommandType.Button">
	 	</item>
	 	<item text="Insert" type="CommandType.SplitButton">
	 	 	<menu-buttons>
                <toolbar-button icon="insert-up" text="Insert above">
                </toolbar-button>
                <toolbar-button icon="insert-middle" text="Insert between">
                </toolbar-button>
                <toolbar-button icon="insert-down" text="Insert below">
                </toolbar-button>
			</menu-buttons>
	 	</item>
	 	<item type="CommandType.Separator">
	 	</item>
	 	<item template="<label>Format:</label>">
	 	</item>
	 	<item template="<input id='dropdown' style='width: 150px;' />" overflow="ShowInOverflowPopup.Never">
	 	</item>
	 	<item type="CommandType.Separator">
	 	</item>
	 	<item type="CommandType.ButtonGroup">
	 	 	<buttons>
				<toolbar-button group="text-align" icon="align-left" togglable="true" text="Left">
				</toolbar-button>
				<toolbar-button group="text-align" icon="align-center" togglable="true" text="Center">
				</toolbar-button>
				<toolbar-button group="text-align" icon="align-right" togglable="true" text="Right">
				</toolbar-button>
            </buttons>
</item>
	 	<item type="CommandType.ButtonGroup">
            <buttons>
                <toolbar-button icon="bold" togglable="true" text="Bold" show-text="ShowIn.Overflow">
                </toolbar-button>
                <toolbar-button icon="italic" togglable="true" text="Italic" show-text="ShowIn.Overflow">
                </toolbar-button>
                <toolbar-button icon="underline" togglable="true" text="Underline" show-text="ShowIn.Overflow">
                </toolbar-button>
            </buttons>
</item>
	 	<item text="Action" type="CommandType.Button" overflow="ShowInOverflowPopup.Always">
	 	</item>
	 	<item text="Another Action" type="CommandType.Button" overflow="ShowInOverflowPopup.Always">
	 	</item>
	 	<item text="Something else here" type="CommandType.Button" overflow="ShowInOverflowPopup.Always">
	 	</item>
	</toolbar-items>
</kendo-toolbar>
