<h2 class="kd-title">Description</h2>
<p>
    The Telerik UI for ASP.NET Core MultiSelect also supports virtualization of data which displays a fixed set of items defined by the user and renders the rest of the content within the same items size frame when the list is scrolled. To enable it, create Read and ValueMapper actions and set the desired number of items to be rendered as shown in the demo. The virtualization feature is useful for performance optimization when handling a large amount of data.
</p>