<h2 class="kd-title">Description</h2>
<p>
    The Telerik UI for ASP.NET Core Validator is a component that supports a wide range of validation rules for different types of data input, and it also offers the option for setting custom rules. The Validator control is useful in any situation that requires user input. This demo showcases a Form component which is a common scenario for need of validation. The Validator rules used here are for required fields, and specific formats such as email and phone number. The demo also gives an example of a custom rule applied to the start time input.
</p>