<h2 class="kd-title">Description</h2>
<div class="kd-text kd-text-secondary">
    <p>
        The ActionSheet is a dialog that presents the user with a set of alternatives to pick from. It shows on top of the app's content and must be manually dismissed before the user may resume using the app.
    </p>
    <p>
        This demo shows how to use the Telerik UI ActionSheet for ASP.NET Core.
    </p>
    <p>
        <h3>Functionality and Features</h3>
        <ul style="list-style-type: disc;">
            <li><b>Items</b> – option to set specific </li>
            <li><b>TagHelper</b> – initialization of UI components</li>
            <li><b>API</b> – configuration and extension points for custom functionality</li>
            <li><b>Events</b> – a set of client and server-side events</li>
            <li><b>Accessibility</b> – screen readers and keyboard support </li>
        </ul>
    </p>
</div>