<h3>Focus</h3>
<ul class="keyboard-legend" style="margin-bottom: 1em;">
    <li>
        <span class="button-preview">
            <span class="key-button leftAlign wider"><a target="_blank" href="https://en.wikipedia.org/wiki/Access_key">Alt</a></span>
            +
            <span class="key-button">w</span>
        </span>
        <span class="button-descr">
            focuses the first item
        </span>
    </li>
</ul>

<h3>Keyboard legend</h3>
<ul class="keyboard-legend">
    <li>
        <span class="button-preview">
            <span class="key-button wider leftAlign">Tab</span>
        </span>
        <span class="button-descr">
            navigates to the next item
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button wider leftAlign">Shift + Tab</span>
        </span>
        <span class="button-descr">
            navigates to the previous item
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button wider leftAlign">Enter / Space</span>
        </span>
        <span class="button-descr">
            selects an item
        </span>
    </li>
</ul>