<h3>Focus</h3>
<ul class="keyboard-legend" style="margin-bottom: 1em;">
    <li>
        <span class="button-preview">
            <span class="key-button leftAlign wider">Alt</span>
            +
            <span class="key-button">W</span>
        </span>
        <span class="button-descr">
            focuses the editable breadcrumb
        </span>
    </li>
</ul>


<h3>Keyboard legend</h3>
<ul class="keyboard-legend">
    <li>
        <span class="button-preview">
            <span class="key-button wider leftAlign">Enter</span>
        </span>
        <span class="button-descr">
            When the widget is focused and <u>editable</u> is set to true, triggers edit mode.
            <br />
            When an item is focused and <u>navigational</u> is set to true, navigates to the url.
            <br />
            When in edit mode, saves the changes, exits edit mode and focuses the root item.
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button wider leftAlign">Tab</span>
        </span>
        <span class="button-descr">
            When the widget is focused, navigates through the items.
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button wider leftAlign">Esc</span>
        </span>
        <span class="button-descr">
            Exits edit mode without saving the changes.
        </span>
    </li>
</ul>