<div id="example">
    <div class="demo-section wide">
        <h4>Breadcrumb Navigation</h4>
        @(Html.Kendo().Breadcrumb()
                .Name("breadcrumb")
                .BindToLocation(true)
                .Navigational(true)
        )
    </div>
</div>