@addTagHelper *, Kendo.Mvc

<div id="example">
    <div class="demo-section">
        <h2>What are your favourite recent movies?</h2>
        <ul class="forms">
            <li>
                <label>First favourite</label><select id="favouriteMovie1" style="width: 100%;">
                    <option value="fastAndFurious">Fast and Furious 6</option>
                    <option value="nowYouSeeMe">Now you see me</option>
                    <option value="theHelp">The Help</option>
                    <option value="theInternship" selected>The Internship</option>
                    <option value="thePerks">The Perks of Being a Wallflower</option>
                </select>
            </li>
            <li>
                <label>Second favourite</label><select id="favouriteMovie2" style="width: 100%;">
                    <option value="fastAndFurious" selected>Fast and Furious 6</option>
                    <option value="nowYouSeeMe">Now you see me</option>
                    <option value="theHelp">The Help</option>
                    <option value="theInternship">The Internship</option>
                    <option value="thePerks">The Perks of Being a Wallflower</option>
                </select>
            </li>
            <li>
                <label>Third favourite</label><select id="favouriteMovie3" style="width: 100%;">
                    <option value="fastAndFurious">Fast and Furious 6</option>
                    <option value="nowYouSeeMe" selected>Now you see me</option>
                    <option value="theHelp">The Help</option>
                    <option value="theInternship">The Internship</option>
                    <option value="thePerks">The Perks of Being a Wallflower</option>
                </select>
            </li>
            <li>
                <button id="voteButton" >Vote</button>
            </li>
        </ul>
    </div>
    <div class="demo-section">
        <h2>Poll results</h2>
        <ul class="poll-results">
            <li>
                <label class="poll">Fast and Furious 6</label>
                <kendo-progressbar name="fastAndFurious" type="ProgressBarType.Percent" animation-duration="600" />
            </li>
            <li>
                <label class="poll">Now you see me</label>
                <kendo-progressbar name="nowYouSeeMe" type="ProgressBarType.Percent" animation-duration="600" />
            </li>
            <li>
                <label class="poll">The Help</label>
                <kendo-progressbar name="theHelp" type="ProgressBarType.Percent" animation-duration="600" />
            </li>
            <li>
                <label class="poll">The Internship</label>
                <kendo-progressbar name="theInternship" type="ProgressBarType.Percent" animation-duration="600" />
            </li>
            <li>
                <label class="poll">The Perks of Being a Wallflower</label>
                <kendo-progressbar name="thePerks" type="ProgressBarType.Percent" animation-duration="600" />
            </li>
        </ul>
    </div>

    @section scripts {
<script>
        $(document).on("kendoReady", function () {
            var progressbars = [];
            $(".poll-results div").each(function () {
                progressbars.push($(this).data("kendoProgressBar"));
            });

            $("#example select").each(function (i) {
                $(this).kendoDropDownList();
            });

            $("#voteButton").click(function () {
                var first = $("#favouriteMovie1").val();
                var second = $("#favouriteMovie2").val();
                var third = $("#favouriteMovie3").val();

                if (first !== "" && second !== "" && third !== "" &&
                    first !== second && second !== third && first !== third) {

                    $.each(progressbars, function (i, pb) {
                        pb.value(0);
                    });

                    $("#" + first).data("kendoProgressBar").value(50);
                    $("#" + second).data("kendoProgressBar").value(30);
                    $("#" + third).data("kendoProgressBar").value(10);

                    $.each(progressbars, function (i, pb) {
                        if (pb.value() === 0) {
                            pb.value(5);
                        }
                    });
                } else {
                    alert("Please select three different movies");
                }
            });
        });
    </script>
}

    <style>
        .demo-section {
            max-width: 600px;
            padding: 30px;
        }

        .demo-section h2 {
            font-weight: normal;
            margin-bottom: 15px;
        }

        .forms {
            list-style-type: none;
            padding: 0;
            margin-bottom: -10px;
        }

        .forms label.poll{
            display: inline-block;
            width: 120px;
            text-align: right;
            padding-right: 18px;
        }

        .forms li {
            margin-bottom: 10px;
        }

        #voteButton {
            width: 100%;
        }

        .poll-results {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        .poll-results li:after {
            content: "";
            display: block;
            clear: both;
            height: 3px;
            line-height: 0;
        }

        #example .poll-results h4, .poll-results .k-progressbar {
            margin: 0 0 5px 0;
            width: 100%;
        }

        .forms label {
            display: block;
            font-size: 12px;
            line-height: 1em;
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 1em;
        }
    </style>
</div>