<h3>Focus</h3>
<ul class="keyboard-legend" style="margin-bottom: 1em;">
    <li>
        <span class="button-preview">
            <span class="key-button leftAlign">Alt</span>
            +
            <span class="key-button">w</span>
        </span>
        <span class="button-descr">
            focuses the currently selected step of the widget
        </span>
    </li>
</ul>
<h3>Supported keys and user actions</h3>
<ul class="keyboard-legend">
    <li>
        <span class="button-preview">
            <span class="key-button wider leftAlign">Left arrow</span>
            or
            <span class="key-button wider leftAlign">Up arrow</span>
        </span>
        <span class="button-descr">
            selects previous step
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button wider leftAlign">Right arrow</span>
            or
            <span class="key-button wider leftAlign">Down arrow</span>
        </span>
        <span class="button-descr">
            selects next step
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button">Home</span>
        </span>
        <span class="button-descr">
            selects first step
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button">End</span>
        </span>
        <span class="button-descr">
            selects last step
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button">Tab</span>
        </span>
        <span class="button-descr">
            focuses next element in the page Tab sequence
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button leftAlign wider">Shift</span>
            +
            <span class="key-button">Tab</span>
        </span>
        <span class="button-descr">
            focuses previous element in the page Tab sequence
        </span>
    </li>
</ul>