<h3>Focus</h3>
<ul class="keyboard-legend" style="margin-bottom: 1em;">
    <li>
        <span class="button-preview">
            <span class="key-button leftAlign">Alt</span>
            +
            <span class="key-button">w</span>
        </span>
        <span class="button-descr">
            focuses the widget
        </span>
    </li>
</ul>

<ul class="keyboard-legend">
    <li>
        <span class="button-preview">
            <span class="key-button">Enter</span>
        </span>
        <span class="button-descr">
            executes the main action of the focused element
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button">Tab</span>
        </span>
        <span class="button-descr">
            focuses the next element of the DOM tree
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button leftAlign">Shift</span>
            +
            <span class="key-button">Tab</span>
        </span>
        <span class="button-descr">
            same as Tab, but in reverse order
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button wider">Ctrl</span>
            +
            <span class="key-button">Home</span>
        </span>
        <span class="button-descr">
            focuses the first focusable element inside the body
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button wider">Ctrl</span>
            +
            <span class="key-button">End</span>
        </span>
        <span class="button-descr">
            focuses the last focusable element inside the body
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button wider">Up arrow</span>
        </span>
        <span class="button-descr">
            when the sound slider is focused, increases the volume
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button wider">Down arrow</span>
        </span>
        <span class="button-descr">
            when the sound slider is focused, decreases the volume
        </span>
    </li>
</ul>

