<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="Content-Security-Policy" value="frame-ancestors 'self'; upgrade-insecure-requests" />
				<add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
				<add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
				<add name="X-Content-Type-Options" value="nosniff" />
				<add name="X-Frame-Options" value="SAMEORIGIN" />
				<add name="X-XSS-Protection" value="1; mode=block" />
			</customHeaders>
		</httpProtocol>
		<rewrite>
			<rules>
				<rule name="LowerCaseRule" stopProcessing="true">
					<match url="[A-Z]" ignoreCase="false" />
					<action type="Redirect" url="{ToLower:{URL}}" redirectType="Permanent" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{HTTP_URL}" pattern="^/aspnet-core/api|^/production-aspnet-core/api|^/api" negate="true" />
						<add input="{HTTP_URL}" pattern="^/aspnet-core/service" negate="true" />
						<add input="{HTTP_URL}" pattern="^/aspnet-core/finance-portfolio" negate="true" />
						<add input="{HTTP_URL}" pattern="^/aspnet-core/admin-dashboard" negate="true" />
					</conditions>
				</rule>
				<rule name="LowerCaseRule2" stopProcessing="true">
					<match url="(.*)" />
					<action type="Redirect" url="{ToLower:{URL}}" redirectType="Permanent" />
					<conditions>
						<add input="{URL}" pattern="[A-Z]" ignoreCase="false" />
						<add input="{HTTP_URL}" pattern="^/aspnet-core/api|^/production-aspnet-core/api|^/api" negate="true" />
						<add input="{HTTP_URL}" pattern="^/aspnet-core/service" negate="true" />
						<add input="{HTTP_URL}" pattern="^/aspnet-core/finance-portfolio" negate="true" />
						<add input="{HTTP_URL}" pattern="^/aspnet-core/admin-dashboard" negate="true" />
					</conditions>
				</rule>
				<rule name="AddSlash" stopProcessing="true">
					<match url="(.*)" ignoreCase="true" />
					<action type="Redirect" url="{URL}/" redirectType="Permanent" />
					<conditions>
						<add input="{URL}" pattern="(production-aspnet-core|aspnet-core)$" />
						<add input="{HTTP_URL}" pattern="^/aspnet-core/service" negate="true" />
						<add input="{HTTP_URL}" pattern="^/aspnet-core/finance-portfolio" negate="true" />
						<add input="{HTTP_URL}" pattern="^/aspnet-core/admin-dashboard" negate="true" />
					</conditions>
				</rule>
				<rule name="RemoveHome" stopProcessing="true">
					<match url="(.*)" ignoreCase="true" />
					<action type="Redirect" url="/{C:1}/" redirectType="Permanent" />
					<conditions>
						<add input="{URL}" pattern="(production-aspnet-core|aspnet-core)/home(/index)?" />
					</conditions>
				</rule>
				<rule name="RemoveSlash" stopProcessing="true">
					<match url="(.*)/$" />
					<action type="Redirect" url="{R:1}" redirectType="Permanent" />
					<conditions>
						<add input="{HTTP_URL}" pattern="^/aspnet-core/api|^/production-aspnet-core/api|^/api" negate="true" />
						<add input="{HTTP_URL}" pattern="^/aspnet-core/service" negate="true" />
						<add input="{HTTP_URL}" pattern="^/aspnet-core/finance-portfolio" negate="true" />
						<add input="{HTTP_URL}" pattern="^/aspnet-core/admin-dashboard" negate="true" />
					</conditions>
				</rule>
				<rule name="RemoveIndex" stopProcessing="true">
					<match url="(.*)/index/?$" />
					<action type="Redirect" url="{R:1}" redirectType="Permanent" />
				</rule>

				<rule name="gridkinvey" patternSyntax="ECMAScript" stopProcessing="true">
					<match url="(.*)/everlive" />
					<action type="Redirect" url="{R:1}/kinvey" redirectType="Found" />
				</rule>
				<rule name="checkboxes" patternSyntax="ECMAScript" stopProcessing="true">
					<match url="^styling/checkboxes" />
					<action type="Redirect" url="checkbox" redirectType="Found" />
				</rule>
				<rule name="radiobuttons" patternSyntax="ECMAScript" stopProcessing="true">
					<match url="^styling/index" />
					<action type="Redirect" url="radiobutton" redirectType="Found" />
				</rule>
				<rule name="gantt" patternSyntax="ECMAScript" stopProcessing="true">
					<match url="^gantt/column-resizing" />
					<action type="Redirect" url="gantt/columns" redirectType="Found" />
				</rule>
				<rule name="timeline" patternSyntax="ECMAScript" stopProcessing="true">
					<match url="^timeline/shared$" />
					<action type="Redirect" url="timeline/shared-datasource" redirectType="Found" />
				</rule>
				<rule name="gridPager" patternSyntax="ECMAScript" stopProcessing="true">
					<match url="^grid/pager-visibility$" />
					<action type="Redirect" url="grid/pager-functionality" redirectType="Found" />
				</rule>
				<rule name="chatTravel" patternSyntax="ECMAScript" stopProcessing="true">
					<match url="^chat/travel$" />
					<action type="Redirect" url="chat/index" redirectType="Found" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>
<!--ProjectGuid: F3669119-96FB-460D-AFA7-6076A01DA3DD-->