<p>
    <b>Note:</b> The styling options showcased in this demo support only the default values when using the LESS themes. You can find more information about this topic in the <a href="https://docs.telerik.com/aspnet-core/styles-and-layout/less-themes-migration">LESS Themes Migration</a> article.
    As the introduction of the styling options is an ongoing effort, there could be minor changes and touch-ups added to the options in the future.
</p>