<div class="demo-button-wrapper" style="display:none">

    <button id="runDemo">
        <span class="icon">
            @Html.Raw(System.IO.File.ReadAllText(System.IO.Path.Combine(ViewBag.ContentRootPath, "wwwroot\\shared\\images\\site\\thunder.svg")))
        </span>
        Run Live Demo
    </button>
</div>
