<div class="kd-text kd-text-secondary">
    This @ViewBag.CurrentWidget.Text example is part of unique collection of hundreds of ASP.NET Core demos, with which you can see all <a href="https://www.telerik.com/aspnet-core-ui">Telerik ASP.NET Core components</a> and their features in action. View the source code of each of them or directly adapt and edit them, including their theme appearance, in <a href="https://netcorerepl.telerik.com/">Telerik REPL for ASP.NET Core</a>.
</div>