<div class="themechooser" data-rel="themechooser" data-role="details">
    <div id="example-search-wrapper" class="search-wrapper">
        <div class="search">
            <input id="example-search" placeholder="Search demos" />
        </div>
    </div>
    <span class="tc-activator">Change Theme</span>
    <div class="tc-theme-list">
        <div class="tc-column">
            <h4>SASS Themes</h4>
            <div class="themes-grid"
                data-role="themechooser"
                data-template="theme-item-template"
                data-bind="source: sassThemes, value: selectedSassTheme"></div>

            <h4>LESS Themes</h4>
            <div class="themes-grid"
                data-role="themechooser"
                data-template="theme-item-template"
                data-bind="source: themes, value: selectedTheme"></div>
        </div>
        <div class="tc-column tb-column">
            <h4>SASS Theme Builder</h4>
            <div class="tc-name">Create new or customize SASS themes</div>
            <a href="https://themebuilder.telerik.com/aspnet-core/" class="tb-link">
                <span class="k-icon k-i-paint"></span>
                Launch Theme Builder
            </a>
        </div>
    </div>
</div>

<script id="theme-item-template" type="text/x-kendo-template">
    <div class="k-listview-item tc-item">
        # for (var i = 0; i < colors.length; i++) { #
            <span class="tc-color" style="background-color: #= colors[i] #"></span>
        # } #
        <span class="tc-name">#: name #</span>
    </div>
</script>

<script id="size-item-template" type="text/x-kendo-template">
    <div class="tc-item">
        <span class="tc-name">#: name #</span>
        # if ('relativity' in data) { #
            <span class="tc-relativity">
                (#: relativity #)
            </span>
        # } #
    </div>
</script>
