<div class="configurator">
    <div class="header">Configurator</div>
    <div class="box-col">
        <h4>Get / Set Value</h4>
        <ul class="options">
            <li>
                <button id="get" >Get value</button> or <button id="focus" >Focus</button>
            </li>
            <li>
                @(Html.Kendo().TextBox()
                    .Name("value")
                    .Value("John Doe")
                    .Events(e => e.Change("setValue"))
                )
                <button id="set" >Set value</button>
            </li>
        </ul>
    </div>
    <div class="box-col">
        <h4>Enable / Disable</h4>
        <ul class="options">
            <li>
                <button id="enable" >Enable</button>
                <button id="disable" >Disable</button>
            </li>
            <li>
                <button id="readonly" >Readonly</button>
            </li>
        </ul>
    </div>
</div>

<div class="demo-section">
    <h4>Set value</h4>
    @(Html.Kendo().TextBox()
        .Name("textbox")
        .Label(l => l.Content("Name").Floating(true))
    )
</div>

@section scripts {
<script>
    var textbox;
    var setValue = function () {
        textbox.value($("#value").data("kendoTextBox").value());
        textbox.floatingLabel.refresh();
    };

    $(document).on("kendoReady", function () {
        textbox = $("#textbox").data("kendoTextBox");

        $("#enable").click(function () {
            textbox.enable();
        });
        $("#disable").click(function () {
            textbox.enable(false);
        });
        $("#readonly").click(function () {
            textbox.readonly();
        });
        $("#focus").click(function () {
            textbox.focus();
        });
        $("#set").click(setValue);
        $("#get").click(function () {
            alert(textbox.value());
        });
    });
</script>
}

<style>
    .k-floating-label-container {
        width: 100%;
    }
</style>
