@addTagHelper *, Kendo.Mvc

<div class="demo-section">
    <h4>Set value</h4>
    <kendo-textbox name="textbox">
        <textbox-label content="Name" floating="true"/>
    </kendo-textbox>
</div>

<style>
    .k-floating-label-container {
        width: 100%;
    }
</style>
