<h2 class="kd-title">Description</h2>
<div class="kd-text kd-text-secondary">
    <p>The Telerik UI for ASP.NET Core TextBox control serves as a text input field which enables you to style and provide a floating label functionality to input elements as shown in this demo. The current example displays a common use scenario for a TextBox component which in addition to the floating label, includes a placeholder, and a content name specifying what input is expected from the user. Besides the configuration options shown above, the TextBox component provides accessibility and RTL support.</p>
</div>