@addTagHelper *, Kendo.Mvc

<div class="demo-section">
    <h4>Set value</h4>
    <kendo-textbox name="textbox" style="width: 100%" placeholder="Name">
	    <textbox-label content="Name" floating="true"/>
    </kendo-textbox>

    <style>
        .k-floating-label-container {
            width: 100%;
        }
    </style>
</div>
