@addTagHelper *, Kendo.Mvc
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="demo-section">
    <h4>Set value</h4>
    <kendo-textbox name="textbox" placeholder="Name...">
        <textbox-label content="Name" floating="true" />
    </kendo-textbox>
</div>

<style>
    .demo-section .k-floating-label-container {
        width: 100%;
    }
</style>
