@addTagHelper "*, Kendo.Mvc"

<div class="demo-section">
    <h4>Choose Extra Equipment Test2</h4>
    <ul class="fieldlist">
        <li>
            <kendo-checkbox name="eq1" checked="true" label="Rear side airbags"> </kendo-checkbox>
        </li>
        <li>
            <kendo-checkbox name="eq2" checked="true" enabled="false" label="Leather trim"> </kendo-checkbox>
        </li>
        <li>
            <kendo-checkbox name="eq3" label="Luggage compartment cover"> </kendo-checkbox>
        </li>
        <li>
            <kendo-checkbox name="eq4" label="Heated front and rear seats"> </kendo-checkbox>
        </li>
        <li>
            <kendo-checkbox name="eq5" label="Dual-zone air conditioning"> </kendo-checkbox>
        </li>
        <li>
            <kendo-checkbox name="eq6" label="Rain sensor"> </kendo-checkbox>
        </li>
        <li>
            <kendo-checkbox name="eeeeq4" enabled="false" label="Towbar preparation"> </kendo-checkbox>
        </li>
    </ul>
</div>

<style>
    .fieldlist {
        margin: 0 0 -1em;
        padding: 0;
    }

        .fieldlist li {
            list-style: none;
            padding-bottom: 1em;
        }
</style>
