<h2 class="kd-title">Description</h2>
<div class="kd-text kd-text-secondary">
    <p>The <strong>FlatColorPicker</strong> renders a gradient (a hue and an alpha slider) and inputs to manually enter a desired color.</p>
    <h3>Features</h3>
    <ul>
        <li>
            <a href="https://docs.telerik.com/aspnet-core/html-helpers/editors/flatcolorpicker/views">Views</a>&mdash;The widgets supports the Palette and the Gradient views.
        </li>
        <li>
            <a href="https://docs.telerik.com/aspnet-core/html-helpers/editors/flatcolorpicker/formats">Formats</a>&mdash;The widgets supports RGB and HEX formats.
        </li>
        <li>
            <a href="https://docs.telerik.com/aspnet-core/html-helpers/editors/flatcolorpicker/contrast-tool">Contrast Tool</a>&mdash;A tool for checking the color contrast ratio between two colors.
        </li>
        <li>
            <a href="https://docs.telerik.com/aspnet-core/html-helpers/editors/flatcolorpicker/accessibility">Accessibility</a>&mdash;The FlatColorPicker is accessible for screen readers and supports WAI-ARIA attributes.
        </li>
        <li>
            <a href="https://docs.telerik.com/aspnet-core/html-helpers/editors/flatcolorpicker/keyboard-navigation">Keyboard Navigation</a>&mdash;The FlatColorPicker supports a number of keyboard shortcuts for processing various commands.
        </li>
    </ul>
    <p>You can find additional information on how to use the FlatColorPicker <a href="https://docs.telerik.com/aspnet-core/html-helpers/editors/flatcolorpicker/overview">this section</a> of the product documentation.</p>
</div>