<h3>Focus</h3>
<ul class="keyboard-legend" style="padding-top: 2em;">
    <li>
        <span class="button-preview">
            <span class="key-button leftAlign wider"><a target="_blank" href="https://en.wikipedia.org/wiki/Access_key">Access key</a></span>
            +
            <span class="key-button">w</span>
        </span>
        <span class="button-descr">Focuses the FlatColorPicker.</span>
    </li>
</ul>

<h3>Keyboard legend</h3>
<ul class="keyboard-legend">
    <li>
        <span class="button-preview">
            <span class="key-button wider leftAlign">Tab</span>
        </span>
        <span class="button-descr">
            navigates to the next FlatColorPicker element
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button wider leftAlign">Shift + Tab</span>
        </span>
        <span class="button-descr">
            navigates to the previous FlatColorPicker Element
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button wider leftAlign">Enter / Space</span>
        </span>
        <span class="button-descr">
            When the Toggle format button is focused, changes the format between RGB and HEX. When a View button is focused, switches to Palette or Gradient view.
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button wider leftAlign">Arrow Up / Right</span>
        </span>
        <span class="button-descr">
            When any of the FlatColorPicker's sliders is focused, increases their value. When the drag handle in the FlatColorPicker canvas is focused, moves in the corresponding direction.
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button wider leftAlign">Arrow Down / Left</span>
        </span>
        <span class="button-descr">
            When any of the FlatColorPicker's sliders is focused, decreases their value. When the drag handle in the FlatColorPicker canvas is focused, moves in the corresponding direction.
        </span>
    </li>
</ul>