<h2 class="kd-title">Description</h2>
<div class="kd-text kd-text-secondary">
    <p>This <strong>FlatColorPicker</strong> example demonstrates the <a href="https://docs.telerik.com/kendo-ui/api/javascript/ui/flatcolorpicker/configuration/views">views</a> feature. The possible values are:</p>
    <ul><li><strong>Palette</strong>—The palette view with the defined colors. (see Tail color picker in the demo above) </li><li><strong>Gradient</strong>—Displays a gradient for a wider range of colors.(see Front & side color picker in the demo above) </li></ul>
</div>