@addTagHelper *, Kendo.Mvc
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    string[] views = new string[] { "gradient", "palette" };
}
<script>
        function select(e) {
            $("#bike-" + this.element.attr("id")).css("background-color", e.value);
        }
    </script>

<div class="demo-section hidden-on-narrow wide">
        <div id="bike">
            <div id="bike-tail"></div><div id="bike-head"></div>
        </div>
        <div class="picker-wrapper">
            <h4>Tail color</h4>
            <kendo-flatcolorpicker name="tail" value="#000" on-change="select" preview="false" class="picker"
             view="palette" views="views">
            </kendo-flatcolorpicker>
        </div>
        <div class="picker-wrapper">
            <h4>Front &amp; side color</h4>
             <kendo-flatcolorpicker name="head" value="#e15613" on-change="select" buttons="true" class="picker" view="gradient" views="views">
            </kendo-flatcolorpicker>
        </div>
    </div>
    <style>

        .demo-section {
            text-align: center;
            padding: 0 0 16px;
        }

        #bike {
            margin: 0 0 10px;
            background: transparent url(@Url.Content("~/shared/web/colorpicker/background.png"));
        }

        #bike-head, #bike-tail {
            background: transparent url(@Url.Content("~/shared/web/colorpicker/motor.png"));
            display: inline-block;
            height: 299px;
            width: 241px;
        }

        #bike-tail {
            background-color: #000;
        }

        #bike-head {
            background-color: #e15613;
            background-position: -241px 0;
        }

        .picker-wrapper {
            display: inline-block;
            text-align: left;
            margin: 0 18px;
        }

            .picker-wrapper .k-hsv-gradient {
                height: 140px;
            }

            .picker-wrapper h3 {
                padding: 13px 0 5px;
                text-align: left;
            }
    </style>

