<h2 class="kd-title">Description</h2>
<p>The Telerik UI for ASP.NET Core ColorPalette renders colors by using color presets (sets of predefined colors).</p>
<h3>Features</h3>
<ul>
    <li><a href="https://docs.telerik.com/aspnet-core/html-helpers/editors/colorpalette/presets">Color Presets</a>—The ColorPalette delivers predefined color palettes as a faster and easier configuration approach.</li>
    <li><a href="https://docs.telerik.com/aspnet-core/html-helpers/editors/colorpalette/accessibility/overview">Accessibility</a>—The ColorPalette is accessible for screen readers and supports WAI-ARIA attributes.</li>
    <li><a href="https://docs.telerik.com/aspnet-core/html-helpers/editors/colorpalette/accessibility/keyboard-navigation">Keyboard Navigation</a>—The ColorPalette supports a number of keyboard shortcuts for processing various commands.</li>
</ul>