<div id="example" style="text-align: center;">
    <div class="demo-section wide" style="display: inline-block;">
        <h4>Pick a date</h4>
        @(Html.Kendo().MultiViewCalendar()
                      .Name("multiViewCalendar")
                      .Selectable("multiple")
        )
    </div>

    @section scripts {
<script>
        //focus the widget
        $(document).on("keydown.examples", function (e) {
            if (e.altKey && e.keyCode === 87 /* w */) {
                $("#multiViewCalendar").data("kendoMultiViewCalendar").focus();
            }
        });
    </script>
}
</div>