<div id="example" style="text-align: center;">
    <div class="demo-section wide" style="display: inline-block; margin: 0 auto 4.5em">
        <h4>MultiViewCalendar Start</h4>
        @(Html.Kendo().MultiViewCalendar()
                        .Name("startMultiViewCalendar")
                        .Start(CalendarView.Decade)
        )
    </div>
    <br />
    <div class="demo-section wide" style="display: inline-block; margin: 0 auto 4.5em">
        <h4>MultiViewCalendar Depth</h4>
        @(Html.Kendo().MultiViewCalendar()
                                .Name("depthMultiViewCalendar")
                                .Start(CalendarView.Year)
                                .Depth(CalendarView.Year)
        )
    </div>
</div>