<div id="example" style="text-align: center;">
    <div class="demo-section wide" style="display: inline-block;">
        <h4>Pick a date</h4>
        @(Html.Kendo().MultiViewCalendar()
                        .Name("multiViewCalendar")
                        .WeekNumber(true)
                        .Messages(m => m.WeekColumnHeader("Wk"))
        )
    </div>
</div>