
<h3>Focus</h3>
<ul class="keyboard-legend" style="margin-bottom: 1em;">
    <li>
        <span class="button-preview">
            <span class="key-button leftAlign wider"><a target="_blank" href="https://en.wikipedia.org/wiki/Access_key">Access key</a></span>
            +
            <span class="key-button">w</span>
        </span>
        <span class="button-descr">
            focuses the first node in the OrgChart
        </span>
    </li>
</ul>
<h3>Keyboard legend</h3>
<ul class="keyboard-legend">

    <li>
        <span class="button-preview">
            <span class="key-button wide leftAlign">Down arrow</span>
        </span>
        <span class="button-descr">
            When focus is on a closed node, opens the node. When focus is on an open node, moves the focus to the first child node.
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button wide leftAlign">Up arrow</span>
        </span>
        <span class="button-descr">
            When focus is on an open node, closes the node. When focus is on an end node or a closed node, moves focus to its parent node.
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button wider leftAlign">Left arrow</span>
        </span>
        <span class="button-descr">
            Moves focus to the previous node that is focusable without opening or closing a node.
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button wider leftAlign">Right arrow</span>
        </span>
        <span class="button-descr">
            Moves focus to the next node that is focusable without opening or closing a node.
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button wider leftAlign">Home</span>
        </span>
        <span class="button-descr">
            Moves focus to the first node that is focusable without opening or closing a node.
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button wider leftAlign">End</span>
        </span>
        <span class="button-descr">
            Moves focus to the last node that is focusable without opening or closing a node.
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button wider rightAlign">Enter</span>
        </span>
        <span class="button-descr">
            In editable OrgChart opens the ContextMenu for the focused node. Upon closing the menu, the focus will move back to the item.
        </span>
    </li>
</ul>
