<h2 class="kd-title">Description</h2>
<p>
    The Telerik UI for ASP.NET Core PanelBar is a multi-level component that the user can expand and collapse and include any type of content in its items. The current demo shows a PanelBar with four sections that include images, text, a dropdown list of options within one of the panels and use of properties such as ExpandMode, Expanded and Enabled.

    In addition to those features, the PanelBar also offers several ways for data binding, animation effects, API functions and events, a templates options, and accessibility and RTL support.
</p>