@addTagHelper *, Kendo.Mvc

<div class="demo-section k-rtl">
    <kendo-panelbar name="panelbar">
        <items>
            <panelbar-item text="First Item" expanded="true">
                <items>
                    <panelbar-item text="Sub Item 1"></panelbar-item>
                    <panelbar-item text="Sub Item 2"></panelbar-item>
                    <panelbar-item text="Sub Item 3"></panelbar-item>
                    <panelbar-item text="Sub Item 4"></panelbar-item>
                </items>
            </panelbar-item>
            <panelbar-item text="Second Item">
                <items>
                    <panelbar-item text="Sub Item 1"></panelbar-item>
                    <panelbar-item text="Sub Item 2"></panelbar-item>
                    <panelbar-item text="Sub Item 3"></panelbar-item>
                    <panelbar-item text="Sub Item 4"></panelbar-item>
                </items>
            </panelbar-item>
            <panelbar-item text="Third Item">
                <items>
                    <panelbar-item text="Sub Item 1"></panelbar-item>
                    <panelbar-item text="Sub Item 2"></panelbar-item>
                    <panelbar-item text="Sub Item 3"></panelbar-item>
                    <panelbar-item text="Sub Item 4"></panelbar-item>
                </items>
            </panelbar-item>
            <panelbar-item text="Fourth Item">
                <items>
                    <panelbar-item text="Sub Item 1"></panelbar-item>
                    <panelbar-item text="Sub Item 2"></panelbar-item>
                    <panelbar-item text="Sub Item 3"></panelbar-item>
                    <panelbar-item text="Sub Item 4"></panelbar-item>
                </items>
            </panelbar-item>
            <panelbar-item text="Fifth Item">
                <items>
                    <panelbar-item text="Sub Item 1"></panelbar-item>
                    <panelbar-item text="Sub Item 2"></panelbar-item>
                    <panelbar-item text="Sub Item 3"></panelbar-item>
                    <panelbar-item text="Sub Item 4"></panelbar-item>
                </items>
            </panelbar-item>
        </items>
    </kendo-panelbar>
</div>
