<h3>Focus</h3>
<ul class="keyboard-legend" style="margin-bottom: 1em;">
    <li>
        <span class="button-preview">
            <span class="key-button leftAlign">Alt</span>
            +
            <span class="key-button">w</span>
        </span>
        <span class="button-descr">
            focuses the widget
        </span>
    </li>
</ul>
<h3>Supported keys and user actions</h3>
<ul class="keyboard-legend">
    <li>
        <span class="button-preview">
            <span class="key-button wider leftAlign">Enter</span>
            or
            <span class="key-button wider leftAlign">Space</span>
        </span>
        <span class="button-descr">
            opens the speed-dial popup and moves the focus to first item or triggers click handler
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button wider leftAlign">Up arrow</span>
        </span>
        <span class="button-descr">
            moves focus to the previous item
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button wider leftAlign">Down arrow</span>
        </span>
        <span class="button-descr">
            moves focus to the next item
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button wider leftAlign">Esc</span>
        </span>
        <span class="button-descr">
            closes the speed-dial popup
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button wider leftAlign">Home</span>
        </span>
        <span class="button-descr">
            moves the focus to the first item
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button wider leftAlign">End</span>
        </span>
        <span class="button-descr">
            moves the focus to the last item
        </span>
    </li>
</ul>