<h2 class="kd-title">Description</h2>
<p>
    The Telerik UI for ASP.NET Core Notification component allows you to render various brief messages to application users. The Notification component is useful in scenarios when you need to present information related to the status of application, user action, warning or error.

    Key features:
    <ul>
        <li>
            <a href="https://docs.telerik.com/aspnet-core/html-helpers/layout/notification/positioning-stacking">Configuration options for positioning and stacking</a>
        </li>
        <li>
            <a href="https://docs.telerik.com/aspnet-core/html-helpers/layout/notification/types">Built-in notification types "info", "success", "warning", and "error"</a>
        </li>
        <li>
            <a href="https://docs.telerik.com/aspnet-core/html-helpers/layout/notification/overview">Animated rendering</a>
        </li>
        <li>
            <a href="https://docs.telerik.com/aspnet-core/html-helpers/layout/notification/hiding">Automatic or configurable hiding</a>
        </li>
        <li>
            <a href="https://docs.telerik.com/aspnet-core/html-helpers/layout/notification/templates">Rendering of custom content with templates</a>
        </li>
        <li>
            <a href="https://docs.telerik.com/aspnet-core/html-helpers/layout/notification/overview">RTL support</a>
        </li>
    </ul>
</p>
