<h2 class="kd-title">Description</h2>
<p>
    The Telerik Notification component for ASP.NET Core provides options to customize its position to left, right, top and pinned using the .Position parameter.

    In case multiple notifications need to be displayed, you can define the direction in which they will stack with regard to the first notification. Possible stacking values are up, right, down, left and default. To do so simply configure the .Stacking parameter and assign it a value from NotificationStackingSettings enum members.
</p>