@addTagHelper *, Kendo.Mvc
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div id="example">

<kendo-timeline name="timeline" orientation="TimelineOrientation.Horizontal" datadatefield="EventDate" datatitlefield="Title" datasubtitlefield="Subtitle" datadescriptionfield="Description" dataactionsfield="Actions" dataimagesfield="Images">
            <datasource>
                <transport>
                    <read url="@Url.Action("GetHorizontalEvents", "Timeline")" />          
                </transport>
                <schema>
                    <model>
                        <fields>
                            <field name="EventDate" type="date"></field>
                        </fields>
                    </model>
                </schema>
            </datasource>
        </kendo-timeline>

</div>
