<div id="example">
    <div class="demo-section wide">
        @(Html.Kendo().Timeline<Kendo.Mvc.Examples.Models.TimelineEventModel>()
            .Name("Timeline")
            .DataDateField("EventDate")
            .DataDescriptionField("Description")
            .DataSubtitleField("Subtitle")
            .DataTitleField("Title")
            .DataImagesField("Images")
            .DataActionsField("Actions")
            .Orientation(TimelineOrientation.Horizontal)
            .EventTemplateId("eventTemplate")
            .DataSource(dt => dt.Read("GetHorizontalTemplatesEvents", "Timeline"))
        )
    </div>
</div>

<style>
    .demo-section {
        max-width: 1300px;
    }
</style>

<script id="eventTemplate" type="text/x-kendo-template">
    <div class="k-card-inner">
        <div class="k-card-header">
            <h5 class="k-card-title">#= data.Title #</h5>
            <h6 class="k-card-subtitle"><strong>#= kendo.toString(data.EventDate, "MMM d, yyyy")#</strong></h6>
        </div>
        <div class="k-card-body">
            <div class="k-card-description">
                <p>#= data.Description #</p>
                <div class="imageContainer">
                    <img src="#= data.Images[0].src #" class="k-card-image">
                    <img src="#= data.Images[1].src #" class="k-card-image">
                </div>
            </div>
        </div>
        <div class="k-card-actions">
            <a class="k-button k-button-flat-primary k-button-flat k-button-md k-rounded-md" href="#= data.Actions[0].url #" target="_blank">#= data.Actions[0].text #</a>
        </div>
    </div>
</script>
