<div class="demo-section">
    <h4>Enter a date</h4>
    @(Html.Kendo().DateInput()
          .Name("dateinput")
          .Events(e =>
          {
              e.Change("change");
          })
         .HtmlAttributes(new { style = "width: 100%" })
         .Value(DateTime.Now)
    )
</div>

@section scripts {
<script>
    function change() {
        kendoConsole.log("Change :: " + kendo.toString(this.value(), 'd'));
    }
</script>
}
