<div class="demo-section">
    <h4>Select product</h4>
    @(Html.Kendo().ComboBox()
          .Name("products")
          .DataTextField("ProductName")
          .DataValueField("ProductID")
          .Filter("contains")
          .DataSource(source =>
          {
              source.Read(read =>
              {
                  read.Action("ClientFiltering_GetProducts", "ComboBox");
              })
              .ServerFiltering(false);
          })
          .HtmlAttributes(new { style = "width:100%;" })
    )
</div>