<div class="demo-section">
    <h4>T-shirt Size</h4>
    @(Html.Kendo().ComboBox()
          .Name("size")
          .Placeholder("Select size...")
          .HtmlAttributes(new { style = "width:100%;", accesskey = "w" })
          .BindTo(new List<string>() {
              "X-Small",
              "Small",
              "Medium",
              "Large",
              "X-Large",
              "2X-Large"
          })
          .SelectedIndex(3)
          .Suggest(true)
    )
</div>
