<h3>Focus</h3>
<ul class="keyboard-legend">
    <li>
        <span class="button-preview">
            <span class="key-button leftAlign wider"><a target="_blank" href="https://en.wikipedia.org/wiki/Access_key">Access key</a></span>
            +
            <span class="key-button">w</span>
        </span>
        <span class="button-descr">
            focuses the widget
        </span>
    </li>
</ul>

<h3>Keyboard legend</h3>
<ul class="keyboard-legend">
    <li>
        <span class="button-preview">
            <span class="key-button wide leftAlign">Up arrow</span>
        </span>
        <span class="button-descr">
            highlights previous item
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button wider leftAlign">Down arrow</span>
        </span>
        <span class="button-descr">
            highlights next item
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button wider rightAlign">Home</span>
        </span>
        <span class="button-descr">
            highlights first item
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button wider rightAlign">End</span>
        </span>
        <span class="button-descr">
            highlights last item
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button wider leftAlign">Page up</span>
        </span>
        <span class="button-descr">
            scrolls the popup up
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button wider leftAlign">Page down</span>
        </span>
        <span class="button-descr">
            scrolls the popup down
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button wider rightAlign">Enter</span>
        </span>
        <span class="button-descr">
            selects highlighted item
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button">Esc</span>
        </span>
        <span class="button-descr">
            closes the popup / clears value if popup is not opened
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button">Alt</span>
            +
            <span class="key-button wider leftAlign">Down arrow</span>
        </span>
        <span class="button-descr">
            opens the popup
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button">Alt</span>
            +
            <span class="key-button wide leftAlign">Up arrow</span>
        </span>
        <span class="button-descr">
            closes the popup
        </span>
    </li>
</ul>