@addTagHelper *, Kendo.Mvc

<div class="demo-section center">
    <kendo-barcode name="barcode" value="1234567" type="BarcodeSymbology.Code93">
        <barcode-text color="red" font="20px sans-serif">
        </barcode-text>
    </kendo-barcode>
</div>

<style type="text/css">
    #barcode {
        width: 300px;
        margin: 0 auto;
    }
</style>
