<h3>Focus</h3>
<ul class="keyboard-legend">
    <li>
        <span class="button-preview">
            <span class="key-button">Tab</span>
        </span>
        <span class="button-descr">
            navigate to the TaskBoard
        </span>
    </li>
</ul>

<h3>Focus last card</h3>
<ul class="keyboard-legend">
    <li>
        <span class="button-preview">
            <span class="key-button">Ctrl</span>
            <span class="key-button">q</span>
        </span>
        <span class="button-descr">
            focuses the last card (a custom shortcut implemented with TaskBoard's <strong>registerShortcut</strong> API method)
        </span>
    </li>
</ul>

<h3>Supported keys and user actions</h3>
<ul class="keyboard-legend">
    <li>
        <span class="button-preview">
            <span class="key-button wider leftAlign">Left arrow</span>
        </span>
        <span class="button-descr">
            focuses the previous column or a card in the previous column
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button wider leftAlign">Right arrow</span>
        </span>
        <span class="button-descr">
            focuses the next column or a card in the next column
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button wider leftAlign">Up arrow</span>
        </span>
        <span class="button-descr">
            focuses the previous card
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button wider leftAlign">Down arrow</span>
        </span>
        <span class="button-descr">
            focuses the next card
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button">Enter</span>
        </span>
        <span class="button-descr">
            selects the focused card
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button">Delete</span>
        </span>
        <span class="button-descr">
            deletes the focused card
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button">Ctrl</span>
            <span class="key-button">e</span>
        </span>
        <span class="button-descr">
            puts the focused card or column in edit mode
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button">Ctrl</span>
            <span class="key-button">a</span>
        </span>
        <span class="button-descr">
            adds a new column or card
        </span>
    </li>
</ul>