@using Kendo.Mvc.Examples.Models.TaskBoard

<div class="demo-section wide">
    @(Html.Kendo().TaskBoard()
        .Name("taskBoard")
        .Columns(c =>
        {
            c.Add().Text("To-do").Status("todo");
            c.Add().Text("In Progress").Status("inProgress");
            c.Add().Text("Done").Status("done");
        })
        .DataCategoryField("Color")
        .DataDescriptionField("Description")
        .DataStatusField("Status")
        .DataTitleField("Title")
        .DataOrderField("Order")
        .BindTo((IEnumerable<CardViewModel>)ViewBag.Cards)
        .Resources(r => r
            .Add().Field("Color")
            .DataColorField("Color")
            .DataTextField("Text")
            .DataValueField("Value")
            .BindTo(
                new List<Resource>()
                    {
                        new Resource { Color = "#ffa500", Text = "orange", Value = "orange"},
                        new Resource { Color = "#008000", Text = "green", Value = "green" },
                        new Resource { Color = "#0000ff", Text = "blue", Value = "blue"}
                    }
            )
        )
        .Height("750")
    )
</div>

<style>
    .demo-section.wide {
        max-width: 1025px;
    }

    .k-taskboard-drag-hint {
        font: 400 14px Arial,Helvetica,sans-serif;
    }
</style>