<div class="demo-section wide">
    <div class="k-rtl">

        @(Html.Kendo().TaskBoard()
            .Name("taskBoard")
            .Columns(c =>
            {
                c.Add().Text("To-do").Status("todo");
                c.Add().Text("In Progress").Status("inProgress");
                c.Add().Text("Done").Status("done");
            })
            .DataCategoryField("Color")
            .DataDescriptionField("Description")
            .DataStatusField("Status")
            .DataTitleField("Title")
            .DataOrderField("Order")
            .BindTo((IEnumerable<Kendo.Mvc.Examples.Models.TaskBoard.CardViewModel>)ViewBag.Cards)
            .Height("980")
        )

    </div>
</div>

<style>
    .demo-section.wide {
        max-width: 1025px;
    }

    .k-taskboard-drag-hint {
        font: 400 14px Arial,Helvetica,sans-serif;
    }
</style>