<h2 class="kd-title">Description</h2>
<div class="kd-text kd-text-secondary">
    <p>The Telerik Loader for ASP.NET Core is a visual indicator that expresses an indeterminate wait time. It informs users about the status of ongoing processes, such as loading an application, submitting a form, saving updates or fetching data.</p>

    <h3>Features</h3>
    <ul>
        <li>
            <span>Appearance</span>
        </li>
    </ul>
    <p>You can find additional information on how to use the Telerik Loader <a href="https://docs.telerik.com/aspnet-core/html-helpers/interactivity/loader/overview">this section</a> of the product documentation.</p>
</div>