<h3>Focus:</h3>
<ul class="keyboard-legend">
    <li>
        <span class="button-preview">
            <span class="key-button leftAlign wider"><a target="_blank" href="https://en.wikipedia.org/wiki/Access_key">Access key</a></span>
            +
            <span class="key-button">w</span>
        </span>
        <span class="button-descr">
            focuses the widget
        </span>
    </li>
</ul>
<h3>List of images:</h3>
<ul class="keyboard-legend">
    <li>
        <span class="button-preview">
            <span class="key-button wider rightAlign">left arrow</span>
        </span>
        <span class="button-descr">
            switches to the previous item
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button wider leftAlign">right arrow</span>
        </span>
        <span class="button-descr">
            switches to the next item
        </span>
    </li>
</ul>
<h3>Prev/Next buttons:</h3>
<ul id="calendar-nav" class="keyboard-legend">
    <li>
        <span class="button-preview">
            <span class="key-button wider leftAlign">enter</span>
        </span>
        <span class="button-descr">
            triggers a click for the button
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button wider leftAlign">space</span>
        </span>
        <span class="button-descr">
            triggers a click for the button
        </span>
    </li>
</ul>
<h3>Pager:</h3>
<ul class="keyboard-legend">
    <li>
        <span class="button-preview">
            <span class="key-button wider rightAlign">left arrow</span>
        </span>
        <span class="button-descr">
            focuses to the previous dot in the pager
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button wider leftAlign">right arrow</span>
        </span>
        <span class="button-descr">
            focuses to the next dot in the pager
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button wider leftAlign">enter</span>
        </span>
        <span class="button-descr">
            selects the focused item in the pager
        </span>
    </li>
    <li>
        <span class="button-preview">
            <span class="key-button wider leftAlign">space</span>
        </span>
        <span class="button-descr">
            selects the focused item in the pager
        </span>
    </li>
</ul>