@addTagHelper *, Kendo.Mvc

<div class="demo-section wide">
    <kendo-imageeditor name="imageEditor" height="900" image-url="@Url.Content("~/shared/images/photos/2.jpg")" >
        <save-as file-name="image.png" />
    </kendo-imageeditor>
</div>
