<h2 class="kd-title">Description</h2>
<div class="kd-text kd-text-secondary">
    The Telerik DatePicker for ASP.NET Core is a component that allows users to select dates from a calendar in ASP.NET Core applications. This demo shows how to change the styling options for the component.
</div>
<p><b>Note:</b> The styling options showcased in this demo support only the default values when using the LESS themes. You can find more information about this topic in the <a href='https://docs.telerik.com/aspnet-core/styles-and-layout/less-themes-migration'>LESS Themes Migration</a> article. As the introduction of the styling options is an ongoing effort, there could be minor changes and touch-ups added to the options in the future.</p>
