@addTagHelper *, Kendo.Mvc
@{
    var ddl_data = new List<SelectListItem>() {
        new SelectListItem() {
            Text = "modern", Value ="1"
        },
        new SelectListItem() {
            Text = "classic", Value ="2"
        }
    };
}
<div class="configurator">
    <div class="header">Configurator</div>
        <div class="box-col">
            <h4>Set component  type</h4>
            <kendo-dropdownlist value="1" name="ddl" on-change="onChange" bind-to="ddl_data">
            </kendo-dropdownlist>
        </div>
    </div>

<div class="demo-section">
    <h4>Select Date:</h4>
    <div>
        <kendo-datepicker component-type="modern" value="DateTime.Today" name="datepicker" style="width: 100%" title="datepicker">
        </kendo-datepicker>
    </div>
</div>

<script>
    function onChange(e) {
        var picker = $("#datepicker").data("kendoDatePicker");
        var type = this.text();
        var parent = $("#datepicker").parent()

        picker.destroy();
        parent.empty();
        parent.append('<input id="datepicker" value="10/10/2011" title="datepicker" style="width: 100%" />');
        $("#datepicker").kendoDatePicker({
            componentType: type
        });
    }
</script>
