<div class="demo-section">
    <h4>Select date:</h4>
    @(Html.Kendo().DatePicker()
          .Name("datepicker")
          .HtmlAttributes(new { style = "width:100%", accesskey = "w" })
    )
  </div>