<div class="demo-section">
    <div class="k-rtl">
        <h4>Choose date:</h4>
        <kendo-datepicker value="DateTime.Today" name="datepicker" style="width: 100%">
        </kendo-datepicker>
    </div>
</div>