<h2 class="kd-title">Description</h2>
<div class="kd-text kd-text-secondary">
    <p>The Telerik DatePicker for ASP.NET Core offers multiple template options for customizing the look and feel of the component. In this example you can see:</p>
    <ul>
        <li>A <strong>month view template</strong> that renders icons for specific dates </li>
        <li>A <strong>footer template</strong> showing the current date, and</li>
        <li>A week number column defined by the <strong>week column template</strong></li>
    </ul>
</div>