<div class="demo-section">
    @(Html.Kendo().DatePicker()
              .Name("datepicker")
              .WeekNumber(true)
              .Value("10/10/2011")
              .HtmlAttributes(new { style = "width: 100%" })
    )
</div>
