@addTagHelper *, Kendo.Mvc

<div class="demo-section">
    <h4>Set value</h4>
    <kendo-textarea name="description" rows="5">
        <label floating="true" content="Description"/>
    </kendo-textarea>
</div>

<style>
    .k-floating-label-container {
        width: 100%;
    }
</style>
