@addTagHelper *, Kendo.Mvc

<div class="demo-section">
    <form id="invitationForm">
        <h4>Send invitation:</h4>
        <kendo-textarea name="invitation" style="width: 100%" required="true" data-required-msg="Please enter a text." data-max-msg="Enter value between 1 and 200"
            placeholder="Enter your text here."
            rows="10"
            max-length="200">
        </kendo-textarea>
        <div class="k-form-footer">
            <div class="k-counter-container"><span class="k-counter-value">0</span>/200</div>
            <button class="k-button k-button-solid-primary k-button-solid k-button-md k-rounded-md">Send</button>
        </div>
    </form>
</div>

<script>
        $(document).ready(function() {
            $("#invitation").on('input', function (e) {
                $('.k-counter-container .k-counter-value').html($(e.target).val().length);
            });

            $("#invitationForm").kendoValidator();

            $("form").submit(function (event) {
                event.preventDefault();
            });
        });
</script>

<style>
    .k-floating-label-container {
        width: 100%;
    }

    .k-form-footer {
        display: flex;
        flex-direction: column;
    }

    .demo-section .k-button {
        margin-top: 20px;
        width: 80px;
        margin-left: auto;
    }

    .demo-section .k-counter-container {
        color: #9C9C9C;
        font-size: 13px;
        margin-top: 5px;
        margin-left: auto;
    }
</style>