@addTagHelper *, Kendo.Mvc

<div class="demo-section k-rtl">
    <h4>Set value</h4>
    <kendo-textarea name="description" style="width: 100%"
        placeholder="Description..."
        rows="5">
    </kendo-textarea>
</div>
