@addTagHelper "*, Kendo.Mvc"
@model Kendo.Mvc.Examples.Models.RadioGroupViewModel

<div class="demo-section">
    <div class="box-col">
        <label class="label">How to get in touch?</label>
         <kendo-radiogroup name="radiogroup"
                           radio-name="radiogroup" 
                           value="1"
                           on-change="onChange"
                           on-focus="onFocus"
                           on-select="onSelect">
            <kendo-radiogroup-items>
                <kendo-radiogroup-item label="Phone (SMS)" value="1"></kendo-radiogroup-item>
                <kendo-radiogroup-item label="E-mail" value="2"></kendo-radiogroup-item>
                <kendo-radiogroup-item label="None" value="3"></kendo-radiogroup-item>
            </kendo-radiogroup-items>
        </kendo-radiogroup>
        <div class="k-form-hint">You won`t be receiving advertising materials.</div>
    </div>
</div>

@section scripts {
    <script>
        function onChange(e) {
            kendoConsole.log("Change :: old value: " + e.oldValue + ", new value: " + e.newValue);
        }

        function onFocus(e) {
            kendoConsole.log("Focus :: target: " + $(e.target[0]).val());
        }

        function onSelect(e) {
            kendoConsole.log("Select :: target: " + $(e.target[0]).val());
        }
    </script>
}

<style>
    .label {
        font: normal 14px/16px Metric, Arial, Helvetica, sans-serif;
        color: #656565;
        display: inline-block;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    .k-form-hint {
        margin-top: 10px;
    }
</style>
