<div id="example">
    <div class="configurator">
        <div class="header">Configurator</div>
        <div class="box-col">
            <ul class="options">
                <li>
                    <h4>Size:</h4>
                    <input id="size" name="size" />
                </li>
            </ul>
        </div>
    </div>


    <div class="demo-section">
        @(Html.Kendo().RadioButton().Name("radioBtn1").Size(ComponentSize.Medium).Checked(true).Label("Agree"))
        @(Html.Kendo().RadioButton().Name("radioBtn2").Size(ComponentSize.Medium).Label("Disagree"))
        @(Html.Kendo().RadioButton().Name("radioBtn3").Size(ComponentSize.Medium).Label("N/A"))
    </div>

    <script>
        $(document).ready(function () {

            var size = $("#size").kendoDropDownList({
                dataTextField: "text",
                dataValueField: "value",
                value: "medium",
                change: onChange,
                dataSource: [
                    { text: "Small", value: "small" },
                    { text: "Medium", value: "medium" },
                    { text: "Large", value: "large" }
                ]
            }).data("kendoDropDownList");

            function onChange(e) {

                var sizeValue = size.value();

                $("#radioBtn1").data('kendoRadioButton').setOptions({
                    size: sizeValue
                })

                $("#radioBtn2").data('kendoRadioButton').setOptions({
                    size: sizeValue
                })

                $("#radioBtn3").data('kendoRadioButton').setOptions({
                    size: sizeValue
                })
            }
        });
    </script>

</div>
