<h2 class="kd-title">Description</h2>
<p>
    The example demonstrates how you can use the <a target="_blank" href="https://docs.telerik.com/aspnet-core/html-helpers/layout/window/overview">Telerik UI for ASP.NET Core Window</a> to display images listed in the FileManager.
</p>
<p>
    To implement the functionality  you need to:
    <ul>
        <li>Initialize a Telerik UI for ASP.NET Core Window component with an &lt;img src="#" /&gt element as content.</li>
        <li>Define an event handler function for the Open event of the FileManager.</li>
        <li>In the event handler function, check if the opened file is indeed an image. If it is, set the src attribute of the &lt;img /&gt element.</li>
        <li>Open the Window.</li>
    </ul>
</p>
<p>
    Click on the View Source tab to review the details of the implementation.
</p>