<h3>Focus</h3>
<ul class="keyboard-legend">
    <li>
        <span class="button-preview">
            <span class="key-button leftAlign wider"><a target="_blank" href="https://en.wikipedia.org/wiki/Access_key">Access key</a></span>
            +
            <span class="key-button">w</span>
        </span>
        <span class="button-descr">
            focuses the widget
        </span>
    </li>
</ul>

<h3>Keyboard navigation is available through the composite widgets used within the FileManager:</h3>
<ul>
    <li>
        <span class="button-descr">
            <a target="_blank" href="https://demos.telerik.com/aspnet-mvc/toolbar/keyboard-navigation">ToolBar</a>
        </span>
    </li>
    <li>
        <span class="button-descr">
            <a target="_blank" href="https://demos.telerik.com/aspnet-core/switch/keyboard-navigation">Switch</a>
        </span>
    </li>
    <li>
        <span class="button-descr">
            <a target="_blank" href="https://demos.telerik.com/aspnet-core/grid/keyboard-navigation">Grid</a>
        </span>
    </li>
    <li>
        <span class="button-descr">
            <a target="_blank" href="https://demos.telerik.com/aspnet-core/treeview/keyboard-navigation">TreeView</a>
        </span>
    </li>
</ul>
