@using Kendo.Mvc.UI

<div class="demo-section">
    @(Html.Kendo().ButtonGroup()
       .Name("player")
       .Items(t =>
       {
           t.Add().Text("One").Badge("3");
           t.Add().Text("Two");
           t.Add().Text("Three");
       })
    )
</div>

<style>
    .demo-section {
        text-align: center;
    }
</style>