@using Kendo.Mvc.UI

<div class="demo-section center">
    @(Html.Kendo().ButtonGroup()
       .Name("select-period")
       .Items(t =>
       {
           t.Add().Text("Month");
           t.Add().Text("Quarter");
           t.Add().Text("Year");
       })
    )
</div>

<style>
    .demo-section {
        text-align: center;
    }
</style>