
    <h3>Focus</h3>
    <ul class="keyboard-legend">
        <li>
            <span class="button-preview">
                <span class="key-button leftAlign">Alt</span>
                +
                <span class="key-button">W</span>
            </span>
            <span class="button-descr">
                Focuses the first button of the ButtonGroup.
            </span>
        </li>
    </ul>
    <h3>Supported keys and user actions</h3>
    <ul class="keyboard-legend">
        <li>
            <span class="button-preview">
                <span class="key-button">Shift + Tab</span>
            </span>
            <span class="button-descr">
                Highlights button to the left
            </span>
        </li>
        <li>
            <span class="button-preview">
                <span class="key-button">Tab</span>
            </span>
            <span class="button-descr">
                Highlights button to the right
            </span>
        </li>
        <li>
            <span class="button-preview">
                <span class="key-button">Left Arrow</span>
            </span>
            <span class="button-descr">
                Highlights button to the left
            </span>
        </li>
        <li>
            <span class="button-preview">
                <span class="key-button">Right Arrow</span>
            </span>
            <span class="button-descr">
                Highlights button to the right
            </span>
        </li>
        <li>
            <span class="button-preview">
                <span class="key-button">Enter</span> or <span class="key-button">Space</span>
            </span>
            <span class="button-descr">
                Trigger select event.
            </span>
        </li>
    </ul>