@using Kendo.Mvc.UI


<div class="demo-section">
    @(Html.Kendo().ButtonGroup()
       .Name("select-period")
       .Items(t =>
       {
           t.Add().Text("Month");
           t.Add().Text("Quarter");
           t.Add().Text("Year");
       })
    )
</div>

@section scripts {
<script>
    $(document).on("kendoReady", function () {
        $(document.body).keydown(function (e) {
            if (e.altKey && e.keyCode == 87) {
                $("#select-period")[0].focus();
            }
        });
    });
</script>
}
<style>
    .demo-section {
        text-align: center;
    }
</style>